* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	font: 13px/18px Helmet, Freesans, sans-serif;
	color: #222;
	text-align: center;
}
a img {
	text-decoration: none;
	border: 0;
	}
/* GENERAL LAYOUT DIVS
********************************************************************/
#wrap {
	background: #fff url(images/interiorhead.jpg) repeat-x left top;
}
#container, #meta-wrap {
	margin: 0 auto;
	text-align: left;
	width: 766px;
}

#page-meta {
	background: #fff;
	padding: 10px 0;
}
#branding {
	height: 39px;
	padding: 6px 0 0 0;
	line-height: 1;
	margin: 0 0 -6px -11px;
}
#content {
	position: relative;
	background: #fff url(images/leftback.jpg) repeat-y left top;
	margin: 0 0 0 -100px;
	padding: 0 0 0 100px;
}
#contentwrap {
	margin: 0 -100px 0 0;
	padding: 0 92px 0 0;
}
#site-meta {
	background: url(images/footer.jpg) repeat-x left top;
	height: 170px;
	padding-top: 3px;
}
#meta-wrap {
	color: #001616;
}
.vcard, #contact {
	float: right;
	clear: both;
	width: 160px;
	margin: 42px 0 1px;
	color: #84a09a;
}
#contact a:link, #contact a:visited { 
	color: #84a09a;
	}
#contact {
	margin-top: 0;
}
#contact li {
	float: left;
	margin-right: 10px;
	list-style: none;
}
.street-address {
	display: none;
}


/* Hx
********************************************************************/
h1 {
	font: bold 18px/24px Helmet, Freesans, sans-serif;
	letter-spacing: 1px;
	color: #003333;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 10px 25px 0;
	padding:5px;
	}
h2 {
	margin: 0 0 5px 0;
	font: 16px/20px Helmet, Freesans, sans-serif;
	color: #003333;
}
#maincontent p + h2 {
	margin-top: 20px;
}
#maincontent h3 {
	margin: 1em 0 .5em 0;
}
#maincontent h4 {
	margin: 1em 0 .5em 0;
}


/* CLEARING FLOATS
********************************************************************/
#site-meta:after, #contentwrap:after, p.intro:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}


/*main site interior.css overides*/
.col4-0 #container { 	/* set width for Campus calendar template*/
	width: 900px;

}
.col4-0 #contentwrap {
	background: url(images/col4-0.jpg) repeat-y right top;
}
#maincontent{
	width:570px;
	padding:0;
	margin:0;
}