#container, #meta-wrap {
	width: 957px;
}
#sec-content {
	width: 194px;
	margin-right: -1px;
	margin-left: -3px;
}
.vcard, #contact {
	left: 30px;
}
/*Caledar specific*/
/*#maincontent .right {width: 550px;}*/
.col4-0 #branding {
	margin-left: 0;
}
.col4-0 #content {
	margin: 0 0 0 -100px;
}
.col4-0 #contentwrap {
	margin: 0 -100px 0 0;
	padding: 0 92px 0 0;
	height: auto !important;
}