#content {
	margin: 0 0 0 -10px;
	padding: 0 0 0 100px;
}
#contentwrap {
	margin: 0 -10px 0 0;
	padding: 0 92px 0 0;
	height: 1% !important; /* needed to prevent guillotine bug on living, visit pages */
}
#container, #meta-wrap {
	width: 947px;
}
#branding {
	margin-left: 80px;
}
.vcard, #contact {
	width: 200px;
	margin: 20px 25px 0 0;
}
#contact {
	margin-top: 0;
}
#global {
	padding: 15px 0 20px 10px;
}
	
/* CLEARING FLOATS
********************************************************************/

#content, #contentwrap, #site-meta, p.intro {
	display:inline-block;
}