/* contentSearch is wrapper below title just inside maincontent */
 /* custom fonts */
 @font-face {
     font-family: 'CartoGothicStdBook';
     src: url('fonts/CartoGothicStd-Book-webfont.eot');
     src: url('fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
          url('fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
          url('fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
     font-weight: normal;
     font-style: normal;
 }
/* end custom fonts */

#maincontent #header {
	background-color: #255249;
	margin: 0 0 20px -10px;
	overflow: auto;
	padding: 25px 0 10px 10px;
	width: 908px;	
	position: relative;
	z-index: 1000;
	top:-1px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
#header h1 {
	letter-spacing:1px;
	color: #fff;
	margin: 5px 0 30px 0;
	font: 25px/27px 'CartoGothicStdBook', Arial, sans-serif;

}
#header h1 a:link {
	color: #fff;
	text-decoration:none;
}
#header h1 a:visited {
	color: #fff;
	text-decoration:none;
}


#contentSearch {
width: 880px;
padding: 10px;
margin: auto;
position:relative;
}
#main_right{
float:right;
}


#search_term{
display: none;
}


#maincontent li{
margin:8px 0;
list-style: none;
}
abbr{border:0;}
#contentSearch a:hover {
text-decoration:underline !important;
}
a{color:#2c7202;}

.eventAction{
margin:10px 0;
}




/* repeating elements in frame -- top & left */
/* current calendar declaration */

#calChoose-wrap, #search-wrap{
	border:1px solid #84a09a;
	padding:8px 6px;
	margin:0 0 25px 0;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
}
p.currentCal{
margin:0 0 5px 0;
font-size:16px;
line-height:20px;
width:260px;
}
p.currentCal strong{
white-space:nowrap;
}
/* select a different calendar dropdown */
#contentSearch form#cal_choose .element, #contentSearch form#cal_choose fieldset li{
  clear:none;
  padding:0;
}
#contentSearch form#cal_choose label.element{display:none;}

form#cal_choose{
margin:0;
width:260px;
}
form#cal_choose select, form#cal_choose #submit{
float:left;
margin:0;
}
form#cal_choose #submit{
margin-left:2px;
}
form#cal_choose fieldset {
border:none;
}
form#cal_choose fieldset ol{
	margin:0;
	top:0;
}

/* -- !Submit -- */

/*	-------------------------------------------------------------
	Navigation Styles -- left hand pointers
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
#navlinks{
margin:0 0 45px 0;
border-bottom:6px solid #255249;	
width:566px;
}
#navlinks ul {
width:566px;
height:44px;
margin:0;
padding:0;
background:none;
list-style:none;
border-bottom:6px solid #255249;
}

#navlinks ul li {
padding:0;
margin:0 0 0 0;
display:block;
width:283px;
height:50px;
float:left;
}
#nav_end {
display:none;
}

#navlinks ul li a {
display:block;
width:233px;
padding:10px 25px;
margin:0 0 -5px 0;
height:30px;
background-color:#ddd;
float:left;
color:#333;
font: 17px/30px Helmet, Freesans, sans-serif;
text-decoration:none;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
}

#navlinks ul li#mycalendar a {

/*background:url(images/nav_calendar.gif) no-repeat;*/
}

#navlinks ul li#create a {

/*background:url(images/nav_create.gif) no-repeat;*/
}

#navlinks ul li#subscribe a {
background:url(images/nav_subscribe.gif) no-repeat;
}

#navlinks ul li#import a {
background:url(images/nav_import.gif) no-repeat;
}

#navlinks ul li#mycalendar a:hover,
#navlinks ul li#create a:hover,
#navlinks ul li#subscribe a:hover,
#navlinks ul li#import a:hover,
body#normal #navlinks ul li#mycalendar a,
body#create #navlinks ul li#create a,
body#subscribe #navigation ul li#subscribe a,
body#import #navigation ul li#import a,
body#normal #navigation ul li#calendar a {
background-color:#255249;
color:#fff;
text-decoration:none;
}

#contentSearch div.clear #navigation #leftcollinks {
margin:0;
padding:0;
}

#navigation{
float: left;
margin-right:0;
width:275px;
}
#navigation .element a {
color:#212121;
}
/*	-------------------------------------------------------------
	Right hand column widget -- plugins section + date and welcome box
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
div.cal_widget {
	border:1px solid #84a09a;
	padding:0 6px;
	margin:0 0 25px 0;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
}

div.cal_widget h3 {
position:relative;
font-size:14px !important;
clear:both;
margin:0;
padding:7px 12px;
background-color:#ddd;
}

div.cal_widget h3 span {

}

div.cal_widget h3 img {
	
}
div.cal_widget a{

}
div.cal_widget ul {
list-style:none;
padding:21px 0 10px 0px;
margin:-14px 0 0 17px;
}
div.cal_widget ul li.welcome{font-weight:bold;}
div.cal_widget ul li#login_list {
background:none;
padding:0;
}

#maincontent div.cal_widget ul li {
padding:0 0 0 0px;
margin:0 7px 0 0;
position:relative;
}

div.cal_widget ul li:hover {

}

div.cal_widget ul li.nobullet {
background:none;
padding:0;
}

div.cal_widget fieldset legend {
display:none;
}

/*	-------------------------------------------------------------
	Form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
label {
padding: 3px;
color: #444;
margin: 0;
}
form{
font-size:14px;
clear: right;
margin:0;
padding:0;
}
fieldset {
position: static;
left: 0;
width: auto;
margin: 0;
padding:0;
border:0;
}

fieldset ol {
list-style: none;
margin:0;
padding:0;
}
#maincontent fieldset ol{
margin:0 0 40px 0;
padding:0;
position:relative;
top:10px;
}
#maincontent fieldset ol li{
margin:10px 0;
padding:0;
}
fieldset li {
clear: both;
list-style: none;
margin:10px 0;
}
input, textarea{
	border-radius: 5px 5px 5px 5px;
	background-color: #f6f6f6;
	padding: 2px 5px;
	line-height: 1;
}
#maincontent textarea{
	width:400px;
	height:80px;
	overflow:auto;
	border: 1px solid #888;
}
#maincontent input[type="text"], #maincontent input[type="password"]{
	width:400px;
	border: 1px solid #888;
	padding: 4px;
}
/* override widths */
#maincontent #__reverseLink_eventdatetime_event_idendtime_1, #maincontent #starttime,
#maincontent #__reverseLink_eventdatetime_event_idstarttime_1, #maincontent #endtime,
#maincontent #__reverseLink_eventdatetime_event_idrecurs_until_1, #maincontent #recurs_until,
#maincontent input.submitButton, #maincontent #event_search input, #maincontent input#submit{
	width:auto;
}
#searchcriteria{width:400px;font-size:12px;height:150px}

fieldset legend {
width:550px;
border: 0;
margin: 0;
font-size: 15px;
padding: 7px 5px;
color: #000;
background-color: #ccc;
border-bottom:1px solid #999;
position:relative;
vertical-align:baseline;
}

fieldset, form, label, legend{
  margin:0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


/*form div.qfgroup,*/
form div.element {
padding:0;
margin:0;
}

/* required & errors */
form span.error {
color:red;
}

form div.error {
border:1px solid red;
padding:5px;
}
.required {
color:red;
}
fieldset li.reqnote label {
display:none;
}
fieldset.hidden {
margin:0;
padding:0;
left: 0;
background:0;
border:none;
}
fieldset ol li fieldset ol li.reqnote{
display: none;
}
fieldset ol li fieldset ol li{
padding: 0;
}

/*	-------------------------------------------------------------
	Special/individual form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
fieldset.doptionaldetailsheader_class {
padding:0 0 10px;
}

#contentSearch .subsectionlink {
width:20em;
margin-top:10px;
text-align:left;
}


/** check all/ uncheck all buttons **/
/*#contentSearch .subsectionlink,*/
#contentSearch a#formShow,
#contentSearch a.checkall,
#contentSearch a.uncheckall {
padding:3px 5px;
border:1px solid #999;
background:#777;
color:#fff;
}
#contentSearch li{
margin:0;
}
#contentSearch a#formShow,#contentSearch .subsectionlink {
/*clear:both;
display:block;
margin-left:10px;*/
}
#contentSearch a#formShow:focus,#contentSearch a#formShow:active,#contentSearch .subsectionlink:focus,#contentSearch .subsectionlink:active {
color:#fff !important;
text-decoration:underline;
}
#contentSearch form fieldset.deventtypeheader_class select {
float:left;
}
#contentSearch form fieldset.deventtypeheader_class .reqnote,
#contentSearch form fieldset.deventlocationheader_class .reqnote {
display:none;
}
body#subscribe #contentSearch form fieldset.d__header___class {
margin:10px 0 0;
}

#contentSearch form div.newlocation {
background:#ddd;
width:400px;
margin:4px 0 2px;
border:1px solid #ccc;
overflow-x:hidden !important;
}

#contentSearch form div.newlocation fieldset {
margin:0;
padding:0;
border:none;
background:#ddd;
width:400px;
overflow-x:hidden !important;
}

#contentSearch form div.newlocation legend {
display:none;
}

#contentSearch fieldset.dlocation_id_location____header___class{
background-color: #ddd;
margin-left: 50px;
width: 400px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

/*	-------------------------------------------------------------
	Login Form
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
body#login #navigation {
display:none;
}

form#event_login button#submit {
	border-radius: 5px 5px 5px 5px;
	background-color: #f6f6f6;
	padding: 2px 5px;
	line-height: 1;
}

body#login #contentSearch {
padding-top:50px;
}

body#login #contentSearch p{
margin-bottom: 25px;
}

body#login #contentSearch input {
background:#eee;
margin:2px 0;
width:200px;
}


body#login #contentSearch form label.element {
position: relative;
}

body#login #contentSearch form fieldset {
width:415px;
}
/*	-------------------------------------------------------------
	Table elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
body#normal div#contentSearch ul.eventsbystatus {
font-size:14px;
list-style:none;
line-height:1;
margin:8px 0 39px 0;
padding:0;
height:38px;
background-color:#d6d6d6;
}

body#normal div#contentSearch ul.eventsbystatus li {
display:block;
float:left;
margin:0;
padding:0;
}

body#normal div#contentSearch ul.eventsbystatus li a {
display:block;
float:left;
margin:0 3px 0 0;
padding:12px 25px 23px;
text-decoration:none;
color:#000;
}
body#normal div#contentSearch ul.eventsbystatus li a:hover {
position:relative;background:url(images/triangle_h.gif)no-repeat center bottom #999;
}
/** current **/
body#normal div#contentSearch ul.eventsbystatus.archived li#archived_manager a,
body#normal div#contentSearch ul.eventsbystatus.pending li#pending_manager a,
body#normal div#contentSearch ul.eventsbystatus.posted li#posted_manager a{
position:relative;background:url(images/triangle_h.gif)no-repeat center bottom #999;
}


ul#frontend_view_selector {
background-color: #D6D6D6;
    height: 40px;
    margin: 0;
/*    overflow: hidden;*/
    padding: 0 10px 0 0;
    position: relative;
    width: 280px;
}
ul#frontend_view_selector li {
	display:block;
	list-style-type: none;
	float:left;
	margin: 10px;
}



body#normal div#contentSearch form {
padding:0;
margin:0;
}

table.eventlisting {
	border-collapse:collapse;
	background-color: #cdcdcd;
	margin:10px 0pt 15px;
	font-size: 12px;
	width: 100%;
	text-align: left;
}
table.eventlisting thead tr th, table.eventlisting tfoot tr th {
	background:#777;
	color:#fff;
	text-align:left;
	border-bottom:2px solid #555;
	padding:7px;
}
table.eventlisting tbody td {
	color: #3D3D3D;
	padding: 7px;
	background-color: #fff;
	vertical-align: top;
	border:none;
	text-align:left;
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
}
table.eventlisting tr.alt td {
background-color:#eee;
}
table.eventlisting thead th.date a,
table.eventlisting thead th.title a {
color:#fff;
display:block;
background:url(images/sort.gif) no-repeat;
background-position:40px 5px;
text-decoration:none;
}
table.eventlisting thead th.title a {
background-position:79px 5px;
}
table.eventlisting td ul {
padding:0;
margin:0;
}
table.eventlisting td ul li{
margin:0;
padding:0;
}
table.eventlisting thead th a:hover {
text-decoration:underline;
}

/*	-------------------------------------------------------------
	Buttons
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	
/** edit buttons **/
#contentSearch table.eventlisting td.edit a,#contentSearch table.eventlisting td a.user_perm_edit {
font-size:11px;
padding:3px 5px;
border:1px solid #aaa;
background:#777;
color:#fff;
}

#contentSearch table.eventlisting td.delete a,button#delete_event {
font-size:11px;
padding:3px 5px;
border:1px solid #aaa;
background:#777;
color:#fff;
}

#contentSearch table.eventlisting td a.user_perm_remove {
font-size:11px;
padding:3px 5px;
border:1px solid #aaa;
background:#777;
color:#fff;
}

#contentSearch table.eventlisting td.delete a:hover,#contentSearch table.eventlisting td.edit a:hover,#contentSearch table.eventlisting td a.user_perm_remove:hover,#contentSearch table.eventlisting td a.user_perm_edit:hover {
background-position:0 -22px;
}

button#delete_event {
float:left;
}

button {
margin:10px 5px 0 0;
}

/*.btnsubmit, */#contentSearch form input.submitButton {

}

.btnsubmit#delete_event {
float:left;
color:#fff !important;
margin:10px 5px 0 0;
background:#990000 !important;
border-color:#d52828 #620404 #620404 #d52828 !important;
}
#contentSearch form button#moveto_pending{
font-size:11px;
padding:3px 5px;
border:1px solid #aaa;
background:#777;
color:#fff;
}

button#search {
font-size:11px;
padding:3px 5px;
border:1px solid #aaa;
background:#777;
color:#fff;
}

#contentSearch form button#moveto_posted{
font-size:11px;
padding:3px 5px;
border:1px solid #aaa;
background:#777;
color:#fff;
}

button#moveto_posted,button#delete_event,button#moveto_pending,button#search {
text-indent:-9999em;
display:block;
border:none;
cursor:pointer;
}


/*	-------------------------------------------------------------
	Search form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	form#event_search{
		margin:0;
		padding:0;
		height:25px;
	}
#event_search input#searchinput{
	float:left;
	width:180px;
	margin-right:2px;
}
div#contentSearch form#event_search input.search_submit{
	float:left;
}

#navigation .element select, #navigation .element ui-selectmenu{
	width:220px;
	text-align:left;
}
img.image-upload{
	max-width:525px;
}


/** feature & recommend tables **/
table#feature_cals, table#recommend_cals{
	width:100%;
	margin:15px 0;
}
table#feature_cals th, table#recommend_cals th{
background:#777;
color:#fff;
text-align:left;
border-bottom:2px solid #555;
padding: 4px 7px;
font-weight:normal;
}
table#feature_cals td, table#recommend_cals td{
color: #3D3D3D;
padding: 4px 7px;
background-color: #fff;
vertical-align: top;
border:none;
text-align:left;
border-top:1px solid #bbb;
border-bottom:1px solid #bbb;
}
h3{
	font: 16px/20px Helmet, Freesans, sans-serif;
}
h3 span.title{
	font-weight:bold;
}

/* add new location */
#__reverseLink_eventdatetime_event_idlocation_id_1__subForm__div{
	width:475px;
	margin:0 0 35px 20px;
}
#__reverseLink_eventdatetime_event_idlocation_id_1__subForm__div legend{
	width:450px;
}
#location_id_location____header__ legend{
	width:450px;
}


/* datepicker button */
#date1_calendar_trigger, #date2_calendar_trigger, #date3_calendar_trigger{position:relative;top:8px;}


/** facebook integration page **/
.fb-nav{margin:15px 0}
#maincontent ol.fb-instruct li{
	list-style:decimal;
	padding:5px 0;
	margin-left:25px;
}
#maincontent ol.fb-instruct li ol li{
	list-style:lower-alpha;
}
#maincontent ul.fb-last{margin:25px 0}
#maincontent ul.fb-last li{
	list-style:disc;
	padding:5px 0;
	margin-left:25px;
}




/** validation **/

label.error {color: red; padding-left: .5em; vertical-align: top; }
p.error {color: red;}