/* contentSearch is wrapper below title just inside maincontent */


#contentSearch {
width: 880px;
padding: 10px;
margin: auto;
position:relative;
}
#main_right{
margin-left: 300px;
}


#search_term{
display: none;
}


#maincontent li{
margin:8px 0;
list-style: none;
}
abbr{border:0;}
#contentSearch a:hover {
text-decoration:underline !important;
}
a{color:#2c7202;}

.eventAction{
margin:10px 0;
}




/* repeating elements in frame -- top & left */
/* current calendar declaration */
p.currentCal{
margin:0 0 5px 0;
font-size:1.3em;
width:620px;
}
/* select a different calendar dropdown */
#contentSearch form#cal_choose .element, #contentSearch form#cal_choose fieldset li{
  float:left;
  clear:none;
  padding:0;
}
#contentSearch form#cal_choose label.element{display:none;}
#contentSearch form#cal_choose select{margin:2px 8px 0 0;}
/* -- !Submit -- */
#cal_choose input#submit {
	background: url(images/go.gif) no-repeat center;
	border: none;
	cursor: pointer;
	height: 22px;
	margin: 0;
	overflow: hidden;
	padding: 22px 0 0 42px;
	width: 42px;
}
/*	-------------------------------------------------------------
	Navigation Styles -- left hand pointers
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
#navlinks ul {
width:auto;
margin:3px 0;
padding:5px 0 7px;
background:none;
list-style:none;
}

#navlinks ul li {
padding:0;
margin:0;
}
#nav_end {
display:none;
}

#navlinks ul li a {
display:block;
width:270px;
padding:0;
margin:0;
height:46px;
text-indent:-9999px;
}

#navlinks ul li#mycalendar a {
background:url(images/nav_calendar.gif) no-repeat;
}

#navlinks ul li#create a {
background:url(images/nav_create.gif) no-repeat;
}

#navlinks ul li#subscribe a {
background:url(images/nav_subscribe.gif) no-repeat;
}

#navlinks ul li#import a {
background:url(images/nav_import.gif) no-repeat;
}

#navlinks ul li#mycalendar a:hover,
#navigation ul li#create a:hover,
#navigation ul li#subscribe a:hover,
#navlinks ul li#import a:hover,
body#normal #navigation ul li#mycalendar a,
body#create #navigation ul li#create a,
body#subscribe #navigation ul li#subscribe a,
body#import #navigation ul li#import a,
body#normal #navigation ul li#calendar a {
background-position:0 -47px;
}

#contentSearch div.clear #navigation #leftcollinks {
margin:0;
padding:0;
}

#navigation{
float: left;
margin-right:0;
}
#navigation .element a {
color:#212121;
}
/*	-------------------------------------------------------------
	Right hand column widget -- plugins section + date and welcome box
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
div.cal_widget {
background-color:#888;
width:222px;
padding:0 7px 10px 0;
margin:18px 0 20px;
}

div.cal_widget h3 {
position:relative;
font-size:12px !important;
clear:both;
margin:0;
padding:8px 0 5px 18px;
background-color:#ddd;
width:211px;
height:15px;
}

div.cal_widget h3 span {

}

div.cal_widget h3 img {
float:right;
}
div.cal_widget a{
color:#fff;
}
div.cal_widget ul {
list-style:none;
padding:21px 0 10px 0px;
margin:-14px 0 0 17px;
}

div.cal_widget ul li#login_list {
background:none;
padding:0;
}

#maincontent div.cal_widget ul li {
padding:0 0 0 0px;
margin:0 7px 0 0;
position:relative;
}

div.cal_widget ul li:hover {

}

div.cal_widget ul li.nobullet {
background:none;
padding:0;
}

div.cal_widget fieldset legend {
display:none;
}

/*	-------------------------------------------------------------
	Form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
label {
padding: 3px;
color: #444;
margin: 0;
}
form{
font-size:14px;
clear: right;
margin:0;
padding:0;
}
fieldset {
position: static;
left: 0;
width: auto;
margin: 0;
padding:0;
border:0;
}

fieldset ol {
list-style: none;
margin:0;
padding:0;
}
#maincontent fieldset ol{
margin:0 0 40px 0;
padding:0;
position:relative;
top:10px;
}
#maincontent fieldset ol li{
margin:10px 0;
padding:0;
}
fieldset li {
clear: both;
list-style: none;
margin:10px 0;
}
input:focus,
textarea:focus,
form select:focus{
background:#ffc;
}
input[type="text"], textarea{
	border: 1px solid #999; 
	color: #444;
	font:14px/17px arial, helvetica, sans-serif;
	padding:3px 5px;
  margin: 0;
}
#maincontent textarea{
	width:400px;
	height:80px;
	overflow:auto;
}
#maincontent input[type="text"]{
		width:400px;
}
/* override widths */
#maincontent #__reverseLink_eventdatetime_event_idendtime_1, #maincontent #starttime,
#maincontent #__reverseLink_eventdatetime_event_idstarttime_1, #maincontent #endtime,
#maincontent #__reverseLink_eventdatetime_event_idrecurs_until_1, #maincontent #recurs_until,
#maincontent input.submitButton, #maincontent #event_search input, #maincontent input#submit{
	width:auto;
}
#searchcriteria{width:400px;font-size:12px;height:150px}

fieldset legend {
width:100%;
border: 0;
margin: 0;
font-size: 1.2em;
padding: 7px 5px;
color: #000;
background-color: #ccc;
border-bottom:1px solid #999;
position:relative;
vertical-align:baseline;
}

fieldset, form, label, legend{
  margin:0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


/*form div.qfgroup,*/
form div.element {
padding:0;
margin:0;
}

/* required & errors */
form span.error {
color:red;
}

form div.error {
border:1px solid red;
padding:5px;
}
.required {
color:red;
}
fieldset li.reqnote label {
display:none;
}
fieldset.hidden {
margin:0;
padding:0;
left: 0;
background:0;
border:none;
}
fieldset ol li fieldset ol li.reqnote{
display: none;
}
fieldset ol li fieldset ol li{
padding: 0;
}

/*	-------------------------------------------------------------
	Special/individual form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
fieldset.doptionaldetailsheader_class {
padding:0 0 10px;
}

#contentSearch .subsectionlink {
width:20em;
margin-top:10px;
text-align:left;
}


/** check all/ uncheck all buttons **/
#contentSearch .subsectionlink,
#contentSearch a#formShow,
#contentSearch a.checkall,
#contentSearch a.uncheckall {
padding:3px 5px;
border:1px solid #999;
background:#777;
color:#fff;
}
#contentSearch li{
margin:0;
}
#contentSearch a#formShow,#contentSearch .subsectionlink {
clear:both;
display:block;
margin-left:10px;
}
#contentSearch a#formShow:focus,#contentSearch a#formShow:active,#contentSearch .subsectionlink:focus,#contentSearch .subsectionlink:active {
color:#fff !important;
text-decoration:underline;
}
#contentSearch form fieldset.deventtypeheader_class select {
float:left;
}
#contentSearch form fieldset.deventtypeheader_class .reqnote,
#contentSearch form fieldset.deventlocationheader_class .reqnote {
display:none;
}
body#subscribe #contentSearch form fieldset.d__header___class {
margin:10px 0 0;
}

#contentSearch form div.newlocation {
background:#ddd;
width:400px;
margin:4px 0 2px;
border:1px solid #ccc;
overflow-x:hidden !important;
}

#contentSearch form div.newlocation fieldset {
margin:0;
padding:0;
border:none;
background:#ddd;
width:400px;
overflow-x:hidden !important;
}

#contentSearch form div.newlocation legend {
display:none;
}

#contentSearch fieldset.dlocation_id_location____header___class{
background-color: #ddd;
margin-left: 50px;
width: 400px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

/*	-------------------------------------------------------------
	Login Form
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
body#login #navigation {
display:none;
}

form#event_login button#submit {
background:url(images/button/c_submit.gif) no-repeat 0 0;
width:48px;
height:21px;
display:block;
text-indent:-9999px;
border:none;
margin-top:3px;
cursor:pointer;
}

form#event_login button#submit:hover {
background-position:0 -22px;
}

body#login #contentSearch {
padding-top:50px;
}

body#login #contentSearch p{
margin-bottom: 1em;
}

body#login #contentSearch input {
background:#eee;
margin:2px 0;
width:200px;
}

body#login #contentSearch input:focus {
background:#ffc;
}

body#login #contentSearch form label.element {
position: relative;
}

body#login #contentSearch form fieldset {
width:415px;
}
form#cal_choose{
margin:0;
height:50px;
width:620px;
}
form#cal_choose fieldset {
border:none;
}
form#cal_choose fieldset ol{
	margin:0;
	top:0;
}
/*	-------------------------------------------------------------
	Table elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
body#normal div#contentSearch ul.eventsbystatus {
font-size:14px;
list-style:none;
line-height:1;
margin:8px 0 39px 0;
padding:0;
height:38px;
background-color:#d6d6d6;
}

body#normal div#contentSearch ul.eventsbystatus li {
display:block;
float:left;
margin:0;
padding:0;
}

body#normal div#contentSearch ul.eventsbystatus li a {
display:block;
float:left;
margin:0 3px 0 0;
padding:12px 25px 23px;
text-decoration:none;
color:#000;
}
body#normal div#contentSearch ul.eventsbystatus li a:hover {
position:relative;background:url(images/triangle_h.gif)no-repeat center bottom #999;
}
/** current **/
body#normal div#contentSearch ul.eventsbystatus.archived li#archived_manager a,
body#normal div#contentSearch ul.eventsbystatus.pending li#pending_manager a,
body#normal div#contentSearch ul.eventsbystatus.posted li#posted_manager a{
position:relative;background:url(images/triangle_h.gif)no-repeat center bottom #999;
}


ul#frontend_view_selector {
background-color: #D6D6D6;
    height: 40px;
    margin: 0;
/*    overflow: hidden;*/
    padding: 0 10px 0 0;
    position: relative;
    width: 280px;
}
ul#frontend_view_selector li {
	display:block;
	list-style-type: none;
	float:left;
	margin: 10px;
}



body#normal div#contentSearch form {
padding:0;
margin:0;
}

table.eventlisting {
border-collapse:collapse;
margin:0 0 12px;
}

#contentSearch form fieldset li table.eventlisting {
background:#fff;
width:600px;
}

#contentSearch form fieldset li table.eventlisting th {
text-align:left;
padding:4px;
background:#666;
color:#fff;
}

#contentSearch form fieldset li table.eventlisting td {
border:none;
text-align:left;
}

#contentSearch table.eventlisting input {
border:none;
}

#contentSearch table.eventlisting thead th {
background:#777;
color:#fff;
text-align:left;
border-bottom:2px solid #555;
padding:7px;
}

#contentSearch table.eventlisting thead th.date a,
#contentSearch table.eventlisting thead th.title a {
color:#FFF;
display:block;
background:url(images/sort.gif) no-repeat;
background-position:40px 5px;
text-decoration:none;
}

#contentSearch table.eventlisting thead th.title a {
background-position:79px 5px;
}

#contentSearch table.eventlisting td ul {
padding:0;
margin:0;
}

#contentSearch table.eventlisting td ul li{
margin:0;
padding:0;
}

table.eventlisting thead th a:hover {
text-decoration:underline;
}

table.eventlisting tr:hover,table.eventlisting tr.alt:hover {
color:#090;
}

table.eventlisting tr {
cursor:pointer;
}

table.eventlisting tr.alt {
background:#ddd;
border-top:1px solid #999;
border-bottom:1px solid #999;
}

#contentSearch table.eventlisting tr td {
padding:7px;
border-top:1px solid #bbb;
border-bottom:1px solid #bbb;
}

table td.date {
color: #000;
font-size: 0.9em;
float: none;
font-weight: normal;
width: auto;
padding: 7px;
}

table th.date{
color: #fff;
font-size: 1.1em;
float: none;
font-weight: bold;
width: 20%;
padding: 7px;
}

/*	-------------------------------------------------------------
	Buttons
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	
/** edit buttons **/
#contentSearch table.eventlisting td.edit a,#contentSearch table.eventlisting td a.user_perm_edit {
font-size:11px;
padding:3px 5px;
border:1px solid #aaa;
background:#777;
color:#fff;
}

#contentSearch table.eventlisting td.delete a,button#delete_event {
display:block;
padding:0;
text-indent:-9999px;
width:48px;
height:22px;
background:url(images/button/delete.gif) no-repeat;
}

#contentSearch table.eventlisting td a.user_perm_remove {
display:block;
padding:0;
text-indent:-9999px;
background:url(images/button/remove_user.gif) no-repeat;
width:89px;
height:21px;
}

#contentSearch table.eventlisting td.delete a:hover,#contentSearch table.eventlisting td.edit a:hover,#contentSearch table.eventlisting td a.user_perm_remove:hover,#contentSearch table.eventlisting td a.user_perm_edit:hover {
background-position:0 -22px;
}

button#delete_event {
float:left;
}

button {
margin:10px 5px 0 0;
}

/*.btnsubmit, */#contentSearch form input.submitButton {
background: url(images/submitBtn.gif) no-repeat center;
border: none;
cursor: pointer;
height: 30px;
margin: 0;
overflow: hidden;
padding: 30px 0 0 70px;
width: 70px;
}

.btnsubmit#delete_event {
float:left;
color:#fff !important;
margin:10px 5px 0 0;
background:#990000 !important;
border-color:#d52828 #620404 #620404 #d52828 !important;
}
#contentSearch form button#moveto_pending{
width:99px;
float:left;
height:22px;
background:url(images/button/movetodraft.gif) no-repeat;
}

button#search {
width:48px;
height:22px;
background:url(images/button/search.gif) no-repeat;
}

#contentSearch form button#moveto_posted{
width:89px;
float:left;
height:21px;
background:url(images/button/addtoposted.gif) no-repeat;
}

button#moveto_posted,button#delete_event,button#moveto_pending,button#search {
text-indent:-9999em;
display:block;
border:none;
cursor:pointer;
}

button#moveto_posted:hover,button#delete_event:hover,button#moveto_pending:hover,button#search:hover {
background-position:0 -22px;
}



/*	-------------------------------------------------------------
	Search form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	form#event_search{
		margin:0;
		padding:0;
		height:30px;
		position:absolute;
		z-index:1000;
		top:7px;
		right:20px;
	}
#event_search #searchinput{
	height:28px;
	padding:4px 3px;
	margin:0 10px 0 0;
	padding:0;
	float:left;
	background:#eee;
	border:1px solid #999;
}
div#contentSearch form#event_search input.search_submit{
	background: url(images/search.gif) no-repeat center;
	border: none;
	cursor: pointer;
	height: 30px;
	margin: 0;
	overflow: hidden;
	padding: 30px 0 0 70px;
	width: 70px;
	float:left;
}

#navigation .element select, #navigation .element ui-selectmenu{
	width:220px;
	text-align:left;
}



/** facebook integration page **/
.fb-nav{margin:15px 0}
#maincontent ol.fb-instruct li{
	list-style:decimal;
	padding:5px 0;
	margin-left:25px;
}
#maincontent ol.fb-instruct li ol li{
	list-style:lower-alpha;
}
#maincontent ul.fb-last{margin:25px 0}
#maincontent ul.fb-last li{
	list-style:disc;
	padding:5px 0;
	margin-left:25px;
}