/* @override 
	https://its-caldev.humboldt.edu/unlcal/templates/humboldt/frontend_default.css */
/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;color:#537f15;text-decoration:underline;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 0;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; } 
/**

 * default.css
 * Everything goes in here.
 */
 @font-face {
     font-family: 'CartoGothicStdBook';
     src: url('fonts/CartoGothicStd-Book-webfont.eot');
     src: url('fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
          url('fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
          url('fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
     font-weight: normal;
     font-style: normal;
 }
/* end custom fonts */

body {
	font:13px/18px Helmet, Freesans, sans-serif;
}
#masthead {
	background: #6a9231 url(images/mark-bg.gif);
	height: 41px;
	position: relative;	
	z-index: 1000;
}
/* humboldt state university wordmark*/
#logowrapper {
	width: 910px;
	margin: 0 auto;
}
#logo {
	background:#6a9231 url(images/hsu-mark.gif) no-repeat left top;
	width: 350px;
	height: 41px;
/*	padding: 5px 0;*/
	display: block;
}
#banner {
	background: #f5f5f5 url(images/handmadepaper.png) repeat left top;
	margin-top: -5px;
	padding: 25px 0;
}
#banner-wrap {
	width: 910px;
	margin: 0 auto;
	padding: 0 0px;
}
#content-wrap {
	background: #d9d5ce url(images/exclusive_paper.jpg) repeat left top;
	padding-bottom: 50px;
}
#content-top {
	background: transparent url(images/banner-shadow.gif) repeat-x left top;
	height: 8px;
}
.column-wrap {
	width: 910px;
	margin: 0 auto;
	padding-top:25px;
}

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}
#site-meta {
	background: url(images/footer-shadow.png) repeat-x left -21px;
}
#meta-wrap {
	width: 910px;
	margin: 0 auto;
	padding-bottom: 40px;
}
#meta-wrap .article {
	float: left;
	width: 275px;
	margin-left: 50px;
}
#meta-wrap .first {
	margin-left: 0;
}
#meta-wrap .last {
	margin-left: 35px;
}
.vcard {
	text-align: right;
	clear: right;
}
.socialnetworks {
	float: right;
	margin-top: 18px;
	width: 115px;
}
.socialnetworks img {
	float: left;
	margin-left: 5px;
}
#meta-wrap a {
	color: #567f1c;
	text-decoration: underline;
}
.col{
	margin:0 0 30px;
/*	padding-right: 20px;*/
	width:290px;
	float:left;
	clear: both;
	background: transparent url(images/side-shadow.png) no-repeat right top;
}

.right{float:right;}
/* end container blocks*/



/* repeating elements in frame -- top & left */
/* current calendar declaration */

#calChoose-wrap, #search-wrap{

}
p.currentCal{
margin:0 0 0 17px;
font-size:16px;
line-height:20px;
width:260px;
}
p.currentCal strong{
white-space:nowrap;
}
/* select a different calendar dropdown */
form#cal_choose .element, form#cal_choose fieldset li{
  clear:none;
  padding:0;
}
form#cal_choose label.element{display:none;}

form#cal_choose{
margin:0 0 0 17px;
padding:10px 0 5px 0;
width:260px;
height:30px;
}
form#cal_choose select, form#cal_choose #submit{
float:left;
margin:0;
}
form#cal_choose #submit{
margin-left:2px;
border: 0 none;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
height: 26px;
padding: 0 10px;
color: #fff;
background: #222 url(images/manager-btn.png) repeat-x left top;
font-size:12px;
}
form#cal_choose fieldset {
border:none;
}
form#cal_choose fieldset ol{
	margin:0;
	top:0;
}
form#cal_choose div, form#cal_choose li{
	display:inline;
}

/* -- !Submit -- */

/*	-------------------------------------------------------------
	Navigation Styles -- left hand pointers
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
#navlinks{

}
#navlinks ul {
height:52px;
margin:18px 0 40px 0;
width:560px;
}

#navlinks ul li {
display:block;
float:left;
}
#nav_end {
display:none;
}

#navlinks ul li a {
display:block;
width:230px;
padding:10px 15px;
margin:0;
height:30px;
color:#000;
font: 17px/30px Helmet, Freesans, sans-serif;
text-decoration:none;
background-color:#fff;
-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
box-shadow: 1px 1px 3px rgba(0,0,0,.3);
border-bottom:1px solid #fff;
border-top:1px solid #fff;
}

#navlinks ul li#mycalendar a {}

#navlinks ul li#create a {margin-left:20px;}

#navlinks ul li#subscribe a {}

#navlinks ul li#import a {}

#navlinks ul li#mycalendar a:hover,
#navlinks ul li#create a:hover,
#navlinks ul li#subscribe a:hover,
#navlinks ul li#import a:hover,
body#normal #navlinks ul li#mycalendar a,
body#create #navlinks ul li#create a,
body#subscribe #navigation ul li#subscribe a,
body#import #navigation ul li#import a,
body#normal #navigation ul li#calendar a {
border-bottom:1px solid #9CB479;
border-top:1px solid #9CB479;
}

/*	-------------------------------------------------------------
	Right hand column widget -- plugins section + date and welcome box
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

div.cal_widget h3, #calChoose-wrap h3, #search-wrap h3 {
	background: transparent url(images/heading-bg.png) no-repeat left top;
	padding: 13px;
}

div.cal_widget h3 span {}

div.cal_widget h3 img {}
div.cal_widget a{
color:#537F15;
}
div.cal_widget ul {
list-style:none;
padding:21px 0 10px 0px;
margin:-14px 0 0 17px;
}
div.cal_widget ul li.welcome{font-weight:bold;}
div.cal_widget ul li#login_list {
background:none;
padding:0;
}

div.cal_widget ul li {
padding:0 0 0 0px;
margin:0 7px 0 0;
position:relative;
}

div.cal_widget ul li:hover {

}

div.cal_widget ul li.nobullet {
background:none;
padding:0;
}

div.cal_widget fieldset legend {
display:none;
}

/*	-------------------------------------------------------------
	Form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
label {
padding: 3px;
color: #444;
margin: 0;
}
form{
font-size:14px;
clear: right;
margin:0;
padding:0;
}
fieldset {
position: static;
left: 0;
width: auto;
margin: 0;
padding:0;
border:0;
}

fieldset ol {
list-style: none;
margin:0;
padding:0;
}
fieldset ol{
margin:0 0 40px 0;
padding:0;
position:relative;
top:10px;
}
fieldset ol li{
margin:10px 0;
padding:0;
}
fieldset li {
clear: both;
list-style: none;
margin:10px 0;
}
input, textarea{
	border-radius: 5px 5px 5px 5px;
	background-color: #f6f6f6;
	padding: 2px 5px;
	line-height: 1;
}
textarea{
	width:400px;
	height:80px;
	overflow:auto;
	border: 1px solid #888;
}
input[type="text"]{
	width:400px;
	border: 1px solid #888;
	padding: 4px;
}
input[type="submit"]{
	border: 0 none;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 30px;
  padding: 0 17px;
  color: #fff;
  background: #222 url(images/manager-btn.png) repeat-x left top;
	font-size:12px;
}

/* override widths */
#__reverseLink_eventdatetime_event_idendtime_1, #starttime,
#__reverseLink_eventdatetime_event_idstarttime_1, #endtime,
#__reverseLink_eventdatetime_event_idrecurs_until_1, #recurs_until,
input.submitButton, #event_search input, input#submit{
	width:auto;
}
#searchcriteria{width:400px;font-size:12px;height:150px;}

fieldset legend {
width:440px;
border: 0;
margin: 0;
font-size: 15px;
font-weight:bold;
padding: 7px 5px;
min-height:20px;
color: #000;
background-color: #fff;
border-bottom:1px solid #ccc;
vertical-align:baseline;
}

fieldset, form, label, legend{
  margin:0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


/*form div.qfgroup,*/
form div.element {
padding:0;
margin:0;
}

/* required & errors server side */
form span.error {
color:red;
}

form div.error {
border:1px solid red;
padding:5px;
}
.required {
color:red;
}
fieldset li.reqnote label {
display:none;
}
fieldset.hidden {
margin:0;
padding:0;
left: 0;
background:0;
border:none;
}
fieldset ol li fieldset ol li.reqnote{
display: none;
}
fieldset ol li fieldset ol li{
padding: 0;
}

/*	-------------------------------------------------------------
	Special/individual form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
fieldset.doptionaldetailsheader_class {
padding:0 0 10px;
}



/** check all/ uncheck all buttons **/
a#formShow,
a.checkall,
a.uncheckall {
padding:9px 15px;
background:#fff;
color:#000;
-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
li{
margin:0;
}
.subsectionlink {
	padding:5px 8px;
	background:#ddd;
	color:#000;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
	box-shadow: 0px 1px 3px rgba(0,0,0,.6);
	cursor:pointer;
}
a#formShow:focus, a#formShow:active, .subsectionlink:focus, .subsectionlink:active {
color:#fff !important;
text-decoration:underline;
}
form fieldset.deventtypeheader_class select {
float:left;
}
form fieldset.deventtypeheader_class .reqnote,
form fieldset.deventlocationheader_class .reqnote {
display:none;
}
form fieldset.d__header___class {
margin:10px 0 0;
}

form div.newlocation {
background:#ddd;
width:400px;
margin:4px 0 2px;
border:1px solid #ccc;
overflow-x:hidden !important;
}

form div.newlocation fieldset {
margin:0;
padding:0;
border:none;
background:#ddd;
width:400px;
overflow-x:hidden !important;
}

form div.newlocation legend {
display:none;
}

fieldset.dlocation_id_location____header___class{
background-color: #ddd;
margin-left: 50px;
width: 400px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

/*	-------------------------------------------------------------
	Login Form
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	#login input[type="text"], #login input[type="password"]{
		background:#fff; 
		border:1px solid #ccc;
	 	border-color:#ccc #fff #fff #ccc;
	 	-webkit-border-radius: 7px;
	 	-moz-border-radius: 7px;
	 	border-radius: 7px;
	 	padding:5px;
	 	width:250px;
	 	height: 18px;
	}
	#login .login p{
		font-size:16px;
		margin:10px 0 25px 0;
	}
	#login .login p.error {color: #c00; margin:0; font-weight:bold;}
	#login button {
		border: 0 none;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		height: 30px;
	  padding: 0 10px;
	  color: #fff;
	  background: #678f2d url(images/submit-btn.png) repeat-x left top;
		font-size:12px;
	}
	div.login {
		float: right;
		width: 500px;
		margin-left: 20px;
		padding-top: 10px;
	}
div.eventdirections {
	float: left;
	width: 335px;
	padding:0 25px 0 0;
	border-right: solid 1px #999;
}
div.eventdirections h2 {
	font-size: 16px;
	font-weight: normal;
}
div.eventdirections ul {
	list-style: disc outside;
	margin-left: 20px;
}
div.eventdirections ul li {
	margin: 10px;
}
	/*	-------------------------------------------------------------
		edit event or create new event links
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
ul.eventsbystatus {
font-size:14px;
list-style:none;
line-height:1;
margin:8px 0 20px 0;
padding:0;
height:38px;
}

ul.eventsbystatus li {
display:block;
float:left;
margin:0;
padding:0;
}
div.eventButtonAction{
	margin:10px 0;
}
ul.eventsbystatus li a {
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 14px/100% Helmet, Freesans, sans-serif;
padding: 10px 38px;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em; 
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
margin:0 10px 0 0;
color:#fff;
background-color:#567f1c;
}
ul.eventsbystatus li a:hover {
text-shadow: 0 1px 1px rgba(255,255,255,.3);
background:url(images/current.png) no-repeat 16px 10px #9cb479;
color:#000;
}
/** current **/
ul.eventsbystatus.archived li#archived_manager a,
ul.eventsbystatus.pending li#pending_manager a,
ul.eventsbystatus.posted li#posted_manager a{
text-shadow: 0 1px 1px rgba(255,255,255,.3);
background:url(images/current.png) no-repeat 16px 10px #9cb479;
color:#000;
}

/*	-------------------------------------------------------------
	Table elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
ul#frontend_view_selector {
background-color: #D6D6D6;
    height: 40px;
    margin: 0;
/*    overflow: hidden;*/
    padding: 0 10px 0 0;
    position: relative;
    width: 280px;
}
ul#frontend_view_selector li {
	display:block;
	list-style-type: none;
	float:left;
	margin: 10px;
}
table.eventlisting {
	border-collapse:collapse;
	background-color: #cdcdcd;
	font-size: 12px;
	width: 100%;
	text-align: left;
	margin:11px 0 19px 0;
}
table.eventlisting thead tr th, table.eventlisting tfoot tr th, table.eventlisting tbody tr th {
	background:#777;
	color:#fff;
	text-align:left;
	border-bottom:2px solid #555;
	padding:7px;
}
table.eventlisting tbody td {
	color: #3D3D3D;
	padding: 7px;
	background-color: #fff;
	vertical-align: top;
	border:none;
	text-align:left;
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
}
table.eventlisting tr.alt td {
background-color:#eee;
}
table.eventlisting thead th.date a,
table.eventlisting thead th.title a {
color:#fff;
display:block;
/*background:url(images/sort.gif) no-repeat;
background-position:40px 5px;*/
text-decoration:none;
}/*
table.eventlisting thead th.title a {
background-position:79px 5px;
}*/
table.eventlisting td ul {
padding:0;
margin:0;
}
table.eventlisting td li{
margin:0;
padding:0;
}
table.eventlisting thead th a:hover {
text-decoration:underline;
}

/*	-------------------------------------------------------------
	Buttons
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	
/** edit buttons **/
table.eventlisting td.edit a, table.eventlisting td a.user_perm_edit {
font-size:11px;
padding:5px 8px;
background:#ddd;
color:#000;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
box-shadow: 0px 1px 3px rgba(0,0,0,.6);
cursor:pointer;
}

table.eventlisting td.delete a,button#delete_event {
font-size:11px;
padding:5px 8px;
background:#ddd;
color:#000;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
box-shadow: 0px 1px 3px rgba(0,0,0,.6);
cursor:pointer;
}

table.eventlisting td a.user_perm_remove {
font-size:11px;
padding:5px 8px;
background:#ddd;
color:#000;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.6);
box-shadow: 0px 1px 3px rgba(0,0,0,.6);
cursor:pointer;
}

table.eventlisting td.delete a:hover, table.eventlisting td.edit a:hover, table.eventlisting td a.user_perm_remove:hover, table.eventlisting td a.user_perm_edit:hover {
background-position:0 -22px;
}

button#delete_event {
float:left;
}

button {
margin:10px 5px 0 0;
}

.btnsubmit#delete_event {
float:left;
color:#fff !important;
margin:10px 5px 0 0;
background:#990000 !important;
border-color:#d52828 #620404 #620404 #d52828 !important;
}
form button#moveto_pending{
width:99px;
float:left;
height:22px;
}

button#search {
width:48px;
height:22px;
}

form button#moveto_posted{
width:89px;
float:left;
height:21px;
}

button#moveto_posted,button#delete_event,button#moveto_pending,button#search {
text-indent:-9999em;
display:block;
border:none;
cursor:pointer;
}

button#moveto_posted:hover,button#delete_event:hover,button#moveto_pending:hover,button#search:hover {
background-position:0 -22px;
}



/*	-------------------------------------------------------------
	Search form elements
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	form#event_search{
		margin:0 0 0 17px;
		padding:10px 0 15px 0;
		height:25px;
	}
#event_search input#searchinput{
	float:left;
	width:180px;
	margin-right:2px;
}
form#event_search input.search_submit{
	float:left;
	border: 0 none;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 26px;
  padding: 0 10px;
  color: #fff;
  background: #222 url(images/manager-btn.png) repeat-x left top;
	font-size:12px;
}
img.image-upload{
	max-width:525px;
}


/** feature & recommend tables **/
table#feature_cals, table#recommend_cals{
	width:100%;
	margin:15px 0;
}
table#feature_cals th, table#recommend_cals th{
background:#777;
color:#fff;
text-align:left;
border-bottom:2px solid #555;
padding: 4px 7px;
font-weight:normal;
}
table#feature_cals td, table#recommend_cals td{
color: #3D3D3D;
padding: 4px 7px;
background-color: #fff;
vertical-align: top;
border:none;
text-align:left;
border-top:1px solid #bbb;
border-bottom:1px solid #bbb;
}

/* add new location */
#__reverseLink_eventdatetime_event_idlocation_id_1__subForm__div{
	width:475px;
	margin:0 0 35px 20px;
}
#__reverseLink_eventdatetime_event_idlocation_id_1__subForm__div legend{
	width:450px;
}
#location_id_location____header__ legend{
	width:450px;
}

/* datepicker button */
#date1_calendar_trigger, #date2_calendar_trigger, #date3_calendar_trigger{position:relative;top:8px;}


/** facebook integration page **/
.fb-nav{margin:15px 0}
ol.fb-instruct li{
	list-style:decimal;
	padding:5px 0;
	margin-left:25px;
}
ol.fb-instruct li ol li{
	list-style:lower-alpha;
}
ul.fb-last{margin:25px 0}
ul.fb-last li{
	list-style:disc;
	padding:5px 0;
	margin-left:25px;
}
#UNL_UCBCN_Manager_FacebookIntegration table td{
	padding:7px 12px 7px 0;
	text-align:left;
}
/** adobe indesign plugin **/
.adobe-tags .sec_main{
	font-weight:bold;
}
.adobe-tags input[type=text]{
	width:200px;
}
.adobe-tags table{
	margin:20px 0;
}
.adobe-tags td{
	padding:7px 12px 7px 0;
	text-align:left;
}



/* typography
------------------------------------------------*/
h1,h2,h3,h4,h5,h6, ul {
	line-height: 18px;
	margin: 18px 0 9px 0;
}
h1#calname {
	font: 40px/27px 'CartoGothicStdBook', Arial, sans-serif;
} 
a.maincal {
	background: transparent url(images/events_mark.png) no-repeat left top;
	display: block;
	width: 338px;
	height: 49px;
	color: #212121;
	text-decoration: none;
}
h3 {
	font-size: 16px;
	color: #212121;
	font-weight: normal;
}
p {
	line-height: 18px;
	margin: 9px 0;
}




a.logout-btn{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 30px;
	padding: 0 20px;
	color: #fff;
	background: #222 url(images/manager-btn.png) repeat-x left top;
	font:14px/30px Helmet, Freesans, sans-serif;
	text-decoration:none;
	display:block;
	float:right;
	margin:-40px 0 0 0;
}


/*non-semantic helper classes
--------------------------------------------*/
.visuallyhidden { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* @end */


/** validation client **/
p.error {color: #c00; margin:0; font-weight:bold;}
label.error {color: #c00; vertical-align: top; font-weight:bold; display:block;}