div.fb_widget{
    background:url(images/recent_bot.gif) no-repeat left bottom;
    clear:both;
    width:222px;
    padding:0 0 10px 0;
}
#maincontent div.fb_widget h3{
    font-size:0.8em;position:relative;
    margin:10px 0 0 0;
    padding:10px 0 5px 12px;
    background:url(images/recent.gif) no-repeat left top;
    width:222px;
    height:15px;
}
#maincontent div.fb_widget div{
    list-style:none;
    padding:10px 0 5px 14px;
    margin:-14px 0 0 0;
    background:url(images/recent_mid.gif) repeat-y right top;
}
#maincontent div.fb_widget ul{
    list-style:none;
    padding:21px 0 10px 14px;
    margin:-14px 0 0 0;
    background:url(images/recent_mid.gif) repeat-y right top;
}
#maincontent div.fb_widget ul li.nobullet {
background:none;
padding:0;
}