/**
 * default.css
 * Everything goes in here.
 */
#maincontent a{background:none;}
#maincontent a:hover{text-decoration:underline;}

body.events #titlegraphic {
    margin-top:60px;
    margin-bottom:20px;
}

/* Event list */


table {clear:both;width:100%;border-collapse:collapse;}
table tr:hover, table tr.alt:hover{
	background:#ffffcc;
}
table tr.alt{
	background:#ecf4f8/*#ECF7FD*/;
}
table thead th{
	background:#3e83c9;
	color:#fff;		
	border-bottom:3px solid #BFD6F5;
	padding:7px;
	
}
.day_cal table thead th, .event_cal table thead th{text-align:left!important;}
table thead th.date a, table thead th.title a{
	color:#FFFFFF;
	text-decoration:none;
	}
table thead th.title{font-style:normal;}

table td{
	padding:7px;
	border-top:1px solid #d7e6ee;
	
	}
table td.date{width:20%;}
table td.title{width:80%;}
#maincontent .three_col h4.sec_main, #maincontent .three_col h4.upcoming-header{float:left;font-size:1.5em;padding: 4px 0 7px 30px!important; 
                 background: url(images/date1.gif) no-repeat 0 0;font-style:normal;}
#maincontent .three_col h4.upcoming-header{background:url(images/newrecurevent.png) no-repeat 0 0;padding:0 0 7px 30px!important;}
#maincontent h4.ongoing{font-size:1.5em;background:url(images/ongoing.gif) no-repeat 0 0;margin-top:15px;padding:6px 0 7px 34px;clear:both;}


#maincontent p#day_nav{z-index:10000;margin:5px 0 0px 0;padding:0;float:right;position:relative;}
#maincontent p#day_nav a{float:left;margin:0 0 0 3px}
a.permalink{font-size:0.6em;position:relative;}
#maincontent a.prev, #maincontent a.next{text-indent:-9999px;height:17px;width:16px;display:block;}
#maincontent a.prev{background:url(images/nav_prev.gif) no-repeat 0 -17px}
#maincontent a.next{background:url(images/nav_next.gif) no-repeat 0 -17px}
#maincontent a.prev:hover, #maincontent a.next:hover, #maincontent a#dc.prev, #maincontent a#ac.next{background-position:0 1px;}
#maincontent p.noentry{clear:both;float:left;}
#maincontent a.returnPrevScreen{font-weight:bold;display:block;font-size:0.8em;padding:2px 3px;background:#cee2f7;color:#6da6db;border:1px solid #a8c2ed;}
#maincontent .tel{margin-left:0}
table td.empty{color:#ddd;}

/* Calendar Widget */
table.wp-calendar thead th{
	background:#fff;border-top:1px solid #999;border-bottom:3px double #999;color:#333;
	text-align:left;font-size:8.5pt!important;
}

table.wp-calendar td, table.wp-calendar th{
	text-align:center;
	padding:4px;
}
table.wp-calendar td{
	border:1px solid #ddd;
}
table.wp-calendar td.selected{
	background-color:#ecf4f8;
}
table.wp-calendar td#onselect{
	background-color:#3e83c9;
}
#maincontent table.wp-calendar td#onselect a, #maincontent table.wp-calendar td#onselect.today{
	color:#fff;
}
table.wp-calendar td#next{
	background:url(images/calnav.gif) no-repeat;

}
table.wp-calendar td#prev{
 	background:url(images/calnav.gif) no-repeat;
	
}
table.wp-calendar tr:hover{
	background:none;
}
table.wp-calendar td:hover{
	background:#ffffcc;
}
#maincontent table.wp-calendar td.next, table.wp-calendar td.prev {color:#a2a2a2;}
table.wp-calendar td.pad:hover{background:none}

table.wp-calendar #today_image{
	width:36px;
	height:18px;
	position:absolute;
	margin:-32px 0 0 -12px;
	background:url(images/todayimage.png) no-repeat 0 0;
}
/*table.wp-calendar td.today {
	background:#ecf4f8;
}*/
#maincontent .day_cal table.wp-calendar td.today {
	color:#fff;
}
.month_cal table.wp-calendar td#onselect {
	background:#eee;
}
#maincontent .month_cal table.wp-calendar td#onselect a{
	color:#900;
}
.month_cal table.wp-calendar td#onselect {
	position:relative;z-index:1;
}
.month_cal table.wp-calendar td #today_image{
	position:absolute;
	top:0;
	right:0;
	margin:3px 2px 0 0;
}
#maincontent span.location, #maincontent span.location a{text-transform:uppercase;font-size:0.75em;color:#3A8103;}
#maincontent span.location a{font-size:1em;}
#maincontent a.returnToday{
font-size:0.8em;
padding:0 3px;
border:1px solid #042579;
border-color:#6D86C5 #213F8B #213F8B #6D86C5;
background:#3e83c9;
color:#fff;
float:right;
margin:5px 0 10px 0;}

#maincontent a.returnToday:hover{
text-decoration:underline;
}

table.ongoing{margin:5px 0 0 0;}
/*caption nav*/
table.wp-calendar caption{position:absolute;top:0;left:0;margin:-38px 0 0 0}
table.wp-calendar caption span{display:block;height:31px;background:url(images/monthviewnav_mid.gif) repeat-x 0 0;float:left;}
table.wp-calendar caption span.monthvalue, table.wp-calendar caption span.yearvalue{
margin-top:0;padding:8px 3px 0;}
#maincontent table.wp-calendar caption a{margin-bottom:5px;color:#fff;}
#maincontent table.wp-calendar caption a:hover{color:#fff !important;}
table.wp-calendar caption a#prev_month, table.wp-calendar caption a#next_month{text-indent:-9999em;
	display:block;background:#fff url(images/monthviewnav_prev.gif) no-repeat; width:22px; height:31px;}
table.wp-calendar caption a#next_month{background:url(images/monthviewnav_next.gif) no-repeat;}
table.wp-calendar caption a#prev_month:hover, table.wp-calendar caption a#next_month:hover{
background-position:0 -45px;
}

/* event view*/

.event_cal h1.summary{padding: 7px 0 10px 37px!important; margin-top:5px;
                 background: url(images/event_one.gif) no-repeat 0 0;}

.event_cal table{width:auto;border:1px solid #8ebcd6;border-top:none;border-right:1px solid #4081a6;border-bottom:1px solid #4081a6;}
.event_cal table td.date, .event_cal table td.title{width:auto;}
#maincontent .event_cal table td.date{color:#cc0000;}
.event_cal table thead{display:none;}
img.event_description_img{border:1px solid #ccc;background:#ddd;padding:2px;}
/*- Menu Tabs G--------------------------- */

    #tabsG {
      float:left;
      width:auto;
      font-size:93%;
      line-height:normal;
      }
    #tabsG ul {
	margin:0;
	padding:10px 10px 0 5px;
	list-style:none;
      }
    #tabsG li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsG a {
      float:left;
      background:url(images/tableftG.gif) no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
   #tabsG a span {
      float:left;
      display:block;
      background:url(images/tabrightG.gif) no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsG a span {float:none;cursor:text;}
    /* End IE5-Mac hack */
    #tabsG a:hover {
      color:#FFF!important;
      }
    #tabsG a:hover, #tabsG a#event_selected {
      background-position:0% -42px;
      }
    #tabsG a:hover span, #tabsG a#event_selected span {
      background-position:100% -42px;
      } 

/* loading.gif */
#load{position:absolute;margin:80px 0 0 440px;z-index:1000000;top:0;left:0;}

/* day view*/
.col{margin-top:48px;}

/* month view */
.month_cal {margin-top:70px;position:relative;}
.month_cal table.wp-calendar{margin:0 0 20px 0;}
.month_cal table.wp-calendar td{
	width:124px;
	text-align:left;
	background:#f3f3f3;
	vertical-align:top;
	float:left;
	display:block;
	min-height:12.3em;
	_height:12.3em;
	}
#maincontent .month_cal table.wp-calendar td a{background:#ddd;padding:0 4px;float:left;color:#900!important;margin:-5px 0 0 -6px}	
#maincontent .month_cal table.wp-calendar td a:active{color:#333;}
#maincontent .month_cal table.wp-calendar td span.monthvalue_ID{display:none}
#maincontent .month_cal table.wp-calendar td ul{position:relative;list-style:none;clear:both;padding:4px 0 0 0;margin:0;}
#maincontent .month_cal table.wp-calendar td ul.ul_box{width:200px;z-index:1000;position:absolute;margin:0;background:#ecf4f8;border:1px solid #7DB0E2;border-color:#e0e0e0 #AACBEB #AACBEB #e0e0e0;padding:4px;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li{overflow:visible;height:auto;line-height:1.5;display:list-item!important;background:none;padding:1px 0;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li.close_eventbox{border:none;width:30px;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li.close_eventbox:hover{background:none;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li.close_eventbox a{color:#064D94;position:relative;display:block;background:url(images/close_pop.gif) no-repeat 0 2px;padding-top:1px;text-indent:-9999px;}
#maincontent .month_cal table.wp-calendar td ul a{background:none;border:none;padding:0;margin:0;float:none;}
#maincontent .month_cal table.wp-calendar td ul a:hover{background:none;border:none;}
.month_cal table.wp-calendar td.empty{background:#fff;}
#maincontent .month_cal table.wp-calendar td ul li.dateUL{padding:1px 3px;background:#7DB0E2;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li.dateUL:hover{background:#7DB0E2;}
#maincontent .month_cal table.wp-calendar td ul li.dateUL a{color:#fff!important;}
#maincontent .month_cal table.wp-calendar td ul li{overflow:hidden;height:1.8em;padding:0;border-bottom:1px solid #ddd;background:#fff;margin:2px 0 0 0;}
#maincontent .month_cal table.wp-calendar td ul.unhide li{overflow:visible;height:auto;}
#maincontent .month_cal table.wp-calendar td ul li:hover{background:#eee;}
#maincontent .month_cal table.wp-calendar td a.more_event{background:none;text-decoration:underline;border:none;margin:3px 0 0 35px;}
#maincontent .month_cal table.wp-calendar td a.more_event:hover{background:none}
#maincontent .month_cal table.wp-calendar td ul.none li.close_eventbox{display:none;}
.month_cal table.wp-calendar td:hover{background:#ffffcc;}
.month_cal table.wp-calendar th{font-size:1.15em;text-align:center;width:126px;display:block;float:left;margin-bottom:1px;}
.month_cal table.wp-calendar tr{float:right;font-size:0.8em;}
#maincontent .month_cal ul{padding:0 15px;}
.month_cal table.wp-calendar caption{margin:-38px 0 0 0}


ul#frontend_view_selector{position:relative;width:927px;float:right;padding:0 10px 0 0;margin:0;border-bottom:1px solid #999;}
ul#frontend_view_selector li{background:#efefef;display:block;float:left;margin:0 0 0 4px;border: 1px solid #ccc;border-bottom:1px solid #efefef; padding:4px;}
ul#frontend_view_selector.month li#monthview, ul#frontend_view_selector.day li#todayview, ul#frontend_view_selector.year li#yearview, ul#frontend_view_selector.upcoming li#upcomingview{position:relative;background:#fff url(images/ulnavbar.gif) no-repeat left top;border: 1px solid #999;margin-bottom:-1px;border-bottom:2px solid #fff;}

/*year view*/
.year_cal table.wp-calendar{margin:0 0 15px 0;}

.year_cal table.wp-calendar caption span{padding:0;margin:0;height:auto;background:none;float:none;display:inline;}
.year_cal table.wp-calendar caption span.monthvalue{margin:0;padding:0 5px 0 15px;background:url(images/year_box.gif) no-repeat 0 1px;}
.year_cal table.wp-calendar caption {text-align:left;padding:0 0 2px 0;position:relative;margin:0;}
.year_cal table.wp-calendar caption a#prev_month, .year_cal table.wp-calendar caption a#next_month{display:none}
#maincontent .year_cal table.wp-calendar caption a{color:#333;}
#maincontent .year_cal table.wp-calendar caption a:hover{color:#cc0000;}

.year_cal table td{border:none;}
.year_cal table.wp-calendar td{border:1px solid #ddd;}
.year_cal table tr{vertical-align:top}
.year_cal table tr:hover{
	background:none;
}
h1.year_main{	padding: 0 0 10px 30px!important; margin:40px 0 10px;
                 background: url(images/date1.gif) no-repeat 0 0;}

/*search view*/
form#event_search {
	float:right;
	margin:0 0 -24px 0;
	position:relative;z-index:1000;
	}
form#event_search input#searchinput{background:#eee; border:1px solid #ccc;
 	  border-color:#ccc #fff #fff #ccc;padding:2px}
#maincontent h1.results span{
	background:#ffffcc;
	}
#maincontent p#search_term{position:absolute;display:none;opacity:0;width:244px;height:85px;background:url(images/searchinfo.png) no-repeat;margin:-10px 0 0 -45px;padding:18px 20px 0 10px;font-size:11px;line-height:normal;}

/*overwrite UNL template to expand to full width */
#navigation{display:none;}
#container div.clear .mainwrapper, #container div.clear .altwrapper {
			width: 960px;}
#maincontent .two_col {
				clear:both;
				width:690px;
				padding:15px 10px 0 0;
				}

.three_col{width:700px;margin-top:13px;}

/* feeds */
#maincontent p#feeds{
	float:right;
	margin:10px 0 0 0;
	padding:0;
}
p#feeds a{float:left;display:block;text-indent:-9999px;height:20px;}
p#feeds a#icsformat{background:url(images/ics.gif) no-repeat;width:35px;}
p#feeds a#rssformat{background:url(images/rss.gif) no-repeat;margin-left:5px;width:20px;}


/* recently updated calendars */
div.cal_widget{
	background:url(images/recent_bot.gif) no-repeat left bottom;
	clear:both;
	width:222px;
	padding:0 0 10px 0;
}
#maincontent div.cal_widget h3{
	font-size:0.8em;position:relative;
	margin:10px 0 0 0;
	padding:10px 0 5px 12px;
	background:url(images/recent.gif) no-repeat left top;
	width:222px;
	height:15px;
}
#maincontent div.cal_widget ul{
	list-style:none;
	padding:21px 0 10px 14px;
	margin:-14px 0 0 0;
	background:url(images/recent_mid.gif) repeat-y right top;
}
#maincontent div.cal_widget ul li.nobullet {
background:none;
padding:0;
}
a#frontend_login{margin:0 0 0 -5px;background:url(images/front-login.gif) no-repeat 0 -2px;padding:0 0 0 20px}
a#frontend_login:hover{background-position:0 -21px;}

#maincontent div.cal_widget ul li#login_list{background:none;padding:0;}
#maincontent div.cal_widget ul li{background:url(images/widget_list.gif) no-repeat 0 5px;padding:0 0 0 15px;height:1%;margin-right:7px;position:relative;}
#maincontent div.cal_widget ul li:hover{background:url(images/widget_list_hover.gif) no-repeat 0 5px;}

a#monthfullview{background:url(images/checkbox.gif) no-repeat;background-position:0 -14px; padding: 0 0 0 17px;}
a#monthfullview.monthfullview_unchecked{background-position:0 0;}

#subscribe {
  float: right;
  width: 185px;
  left:200px;
  top: 30px;font-size:11px;
  color:#900;
  margin: 1em 0 0 0;
  padding:0 0 2px 0;
  cursor: pointer;
  background: #eee url(images/subscribe.gif) no-repeat;
}
#subscribe:hover #droplist {
  display: block;
}
#subscribe span {
  display: block;
  padding: 0 9px 0 7px;
  line-height: 26px;
}
#subscribe ul {
  display: none;
  position: absolute;
  background: #efefef;
  width: 182px;
  padding: 1px 0;
  margin: 0 2px 0 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
#subscribe li {
  margin: 0 10px 0 7px;
  padding: 5px 0 0 0;
  list-style-type: none;
  background: #eee;
}
#subscribe li#eventrss{border-bottom:1px solid #ddd;}
#subscribe li#eventrss a{background:url(images/rss.gif) no-repeat;  padding: 3px 0 3px 26px;}
#subscribe li#eventical a{background:url(images/ics.gif) no-repeat;}
#subscribe li a {
  display: block;
  margin: 0 0 0 0;
  height: 18px;
  padding: 5px 0 3px 40px;
  width: 125px;
  text-decoration: none;
}
#subscribe li a:hover,
#subscribe li a:active {
  background-color: #ddd;
}
 abbr.dtstart:after, abbr.dtend:after {content:'' }
/* IE */
* html tr.vevent td.date{font-size:0.9em!important;}
* html #maincontent .three_col{padding:0;}
* html #maincontent .three_col table td{padding:7px!important;}
* html .col{margin-top:10px;}
* html table.wp-calendar caption span.monthvalue, * html table.wp-calendar caption span.yearvalue{padding:6px 3px 0;}
* html #maincontent p#search_term{filter:alpha(opacity: 0);background:url(images/searchinfo.gif) no-repeat;margin:13px 0 0 -275px;padding:18px 20px 0 10px;}
* html .month_cal {margin-top:7px;}
* html table.wp-calendar td #today_image{margin: -15px 0 0 -23px;}
* html table.wp-calendar td.today{border:none;border-left:1px solid #ddd;border-top:1px solid #ddd;}
* html #maincontent .month_cal table.wp-calendar td ul.ul_box{margin:-18px 0 0 -87px;}

*+html #maincontent .month_cal table.wp-calendar td ul.ul_box{margin:-18px 0 0 -87px;}
*+html table.wp-calendar td #today_image{margin: -15px 0 0 -23px;}
*+html table.wp-calendar td.today{border:none;border-left:1px solid #ddd;border-top:1px solid #ddd;}
*+html #maincontent p#search_term{filter:alpha(opacity: 0);background:url(images/searchinfo.gif) no-repeat;margin:13px 0 0 -275px;padding:18px 20px 0 10px;}
*+html .col{margin-top:10px;}
*+html table.wp-calendar caption span.monthvalue, *+html table.wp-calendar caption span.yearvalue{padding:6px 3px 0;}
*+html .month_cal {margin-top:7px;}