/* @override 
	https://its-caldev.humboldt.edu/unlcal/templates/humboldt/frontend_default.css */
/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers. 
   There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;color:#212121;text-decoration:none;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; } 
/**

 * default.css
 * Everything goes in here.
 */
 /* custom fonts */
 @font-face {
     font-family: 'CartoGothicStdBook';
     src: url('fonts/CartoGothicStd-Book-webfont.eot');
     src: url('fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
          url('fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
          url('fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
     font-weight: normal;
     font-style: normal;
 }
/* end custom fonts */



/* Main container blocks
--------------------------------------------------------------------------------------------*/
body {
	font:13px/18px Helmet, Freesans, sans-serif;
}
#masthead {
	background: #6a9231 url(images/mark-bg.gif);
	height: 41px;
	position: relative;	
	z-index: 1000;
}
/* humboldt state university wordmark*/
#logowrapper {
	width: 910px;
	margin: 0 auto;
}
#logo {
	background:#6a9231 url(images/hsu-mark.gif) no-repeat left top;
	width: 350px;
	height: 41px;
/*	padding: 5px 0;*/
	display: block;
}
#banner {
	background: #f5f5f5 url(images/handmadepaper.png) repeat left; top;
	margin-top: -5px;
	padding: 25px 0;
}
#banner-wrap {
	width: 910px;
	margin: 0 auto;
	padding: 0 0px;
}
#content-wrap {
	background: #d9d5ce url(images/exclusive_paper.jpg) repeat left top;
	padding-bottom: 50px;
}
#content-top {
	background: transparent url(images/banner-shadow.gif) repeat-x left top;
	height: 8px;
}
.column-wrap {
	width: 910px;
	margin: 0 auto;
}

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}
#site-meta {
	background: url(images/footer-shadow.png) repeat-x left -21px;
}
#meta-wrap {
	width: 910px;
	margin: 0 auto;
	padding-bottom: 40px;
}
#meta-wrap .article {
	float: left;
	width: 275px;
	margin-left: 50px;
}
#meta-wrap .first {
	margin-left: 0;
}
#meta-wrap .last {
	margin-left: 35px;
}
.vcard {
	text-align: right;
	clear: right;
}
.socialnetworks {
	float: right;
	margin-top: 18px;
	width: 115px;
}
.socialnetworks img {
	float: left;
	margin-left: 5px;
}
#meta-wrap a {
	color: #567f1c;
	text-decoration: underline;
}
/* end container blocks*/

body.events #titlegraphic {
    margin-top:60px;
    margin-bottom:20px;
}

/* Event list */
#eventlist {
	margin-top: 35px;
}
.day_cal {
	margin-top: 27px;
}
table {clear:both;width:100%;border-collapse:collapse;}
table tr:hover, table tr.alt:hover{
	background:transparent url(images/trhover.png) repeat left top;

}
table tr.alt{
/*	background:#f1f1f1;*/
}
table thead th{
/*	background:#0E584A;*/
/*	color:#fff;		*/
/*	border-bottom:solid 2px #333;*/
	padding:10px 7px 0;
	font-size: 14px;
}
.day_cal table thead th, .event_cal table thead th{
	text-align:left;
	text-indent
}
table thead th.date a, table thead th.title a{
	color:#FFFFFF;
	text-decoration:none;
	}
table thead th.title{font-style:normal;}

table td{
	padding:27px 0 0 7px;
	vertical-align:top;
	}
table td.date{width:25%;}
table td.title{width:75%;}

#maincontent .three_col h4.sec_main, #maincontent .three_col h4.upcoming-header{
	float:left;
	font-size:18px;
	font-weight: 500;
	padding: 12px 0 12px 25px;
	width: 250px;
	background: url(images/flag.png) no-repeat 0 0;
}
/*#maincontent .three_col h4.upcoming-header{
	background:url(images/newrecurevent.png) no-repeat 0 0;
	padding:0 0 7px 30px!important;
}*/
#maincontent h4.ongoing{
	font-size:1.5em;
	margin-top:42px;
	padding:6px 0 7px 0px;
	clear:both;
}
a {
	color: #537f15;
}

#maincontent p#day_nav{/*z-index:10000;*/margin:25px 0;padding:0;float:right;position:relative;}
#maincontent p#day_nav a{float:left;margin:0 0 0 3px}
a.permalink{
	position:relative;
	background:transparent url(images/linkicon.png) no-repeat left top;
	width:20px;
	height:20px;
	display: inline-block;
}
#maincontent a.prev, #maincontent a.next{text-indent:-9999px;height:28px;width:34px;display:block;}
#maincontent #featuredEvents a.prev, #maincontent #featuredEvents a.next{text-indent:-9999px;height:45px;width:26px;display:block;}
#maincontent a.prev{background:url(images/nav_prev.png) no-repeat 0 0}
#maincontent #featuredEvents a.prev{background:url(images/scroll_prev.gif) no-repeat 0 0;float:left;position:relative;top:85px}
#maincontent #featuredEvents a.next{background:url(images/scroll_next.gif) no-repeat 0 0;float:right;position:relative;top:85px;}
#maincontent a.next{background:url(images/nav_next.png) no-repeat 0 0}
#maincontent a.prev:hover, #maincontent a.next:hover, #maincontent a#dc.prev, #maincontent a#ac.next{background-position:0 -28px;}
#maincontent #featuredEvents a.prev:hover, #maincontent #featuredEvents a.next:hover{background-position:0 -45px;}
#maincontent p.noentry{clear:both;float:left;}
#maincontent a.returnPrevScreen{font-weight:bold;display:block;font-size:11px;padding:3px;background:#f1f1f1;color:#474747;border:1px solid #474747;float:right;}
#maincontent .tel{margin-left:0}
table td.empty{color:#ddd;}
#maincontent .right {
	float: right;
	width: 590px;
}

.day_cal h1 {
	float: none;
	width: auto;
}

/* Calendar Widget */
.minical {
width: 260px;	
	
}
table.wp-calendar thead th{
	background:#7faf38;border-bottom:3px double #fff;color:#fff;
	text-align:left;font-size:8.5pt!important;
}
table.wp-calendar td, table.wp-calendar th{
	text-align:center;
	padding:4px;
}
table.wp-calendar td{
	border:1px solid #eee;
	color: #212121;
	background-color: #fff;
	opacity: .5;
}
table.wp-calendar td.selected a {
	color: #fff;
	color: #212121;
/*	opacity: 1;*/
}
table.wp-calendar td.selected{
	opacity: 1;
	background-color:#fff;
}
table.wp-calendar td#onselect{
	background-color:#99ce4a;
	color: #ccc;
}
#maincontent table.wp-calendar td#onselect a, #maincontent table.wp-calendar td#onselect.today{
	color:#fff;
}
table.wp-calendar td#next{
	background:url(images/calnav.gif) no-repeat;

}
table.wp-calendar td#prev{
 	background:url(images/calnav.gif) no-repeat;
	
}
table.wp-calendar tr:hover{
	background:none;
}
table.wp-calendar td:hover{
	background:#e6dba4;
}
/*#maincontent table.wp-calendar td.next, table.wp-calendar td.prev {color:#f2f2f2;}*/
table.wp-calendar td.pad:hover{background:none}

table.wp-calendar #today_image{
	width:36px;
	height:18px;
	position:absolute;
	margin:-32px 0 0 -12px;
	background:url(images/todayimage.png) no-repeat 0 0;
}
/*table.wp-calendar td.today {
	background:#ecf4f8;
}*/
#maincontent .day_cal table.wp-calendar td.today {
	color:#fff;
}
.month_cal table.wp-calendar td#onselect {
	background:#eee;
}
#maincontent .month_cal table.wp-calendar td#onselect a{
	color:#900;
}
.month_cal table.wp-calendar td#onselect {
	position:relative;z-index:1;
}
.month_cal table.wp-calendar td #today_image{
	position:absolute;
	top:0;
	right:0;
	margin:3px 2px 0 0;
}
#maincontent span.location{
	text-transform:uppercase;
	font-size: 10px;
	padding: 0 5px 0 0;
	float:right;
	margin:0;
}
#maincontent span.location a {
	text-decoration: none;
	border-bottom: none;
}
#maincontent span.location a:hover {
	color: #fff;
}
/*#maincontent span.location a{font-size:1em;}*/
#maincontent a.returnToday{
	font-size:12px;
	padding:3px 0 0 9px;
	background:transparent url(images/return-bg.gif) no-repeat 0 0;
	color:#fff;
	float:right;
	margin:10px -3px 10px 0;
	width: 91px;
	height: 23px;
	display: none !important;
}

#maincontent a.returnToday:hover{
	text-decoration:none;
}

table.ongoing{margin:5px 0 0 0;}
/*caption nav*/
table.wp-calendar caption, table caption{position:relative;top:0;left:0;margin:0 0 0 0;overflow:auto;}
table.wp-calendar caption span, table caption span{display:block;height:31px;/*background:url(images/monthviewnav_mid.gif) repeat-x 0 0;*/float:left;}
table.wp-calendar caption span.monthvalue, table.wp-calendar caption span.yearvalue{
margin-top:0;padding:8px 3px 0;}
#maincontent table.wp-calendar caption a{margin-bottom:5px;color:#333;font-weight:bold;}
#maincontent table.wp-calendar caption a:hover{color:#6a9231 !important;}/*here*/
table.wp-calendar caption a#prev_month, table caption a#prev_year, table.wp-calendar caption a#next_month, table caption a#next_year{text-indent:-9999em;
	display:block;background:url(images/monthviewnav_prev.png) no-repeat; width:21px; height:21px;margin-top:6px}
table.wp-calendar caption a#next_month, table caption a#next_year{background:url(images/monthviewnav_next.png) no-repeat;}
table.wp-calendar caption a#prev_month:hover, table caption a#prev_year:hover, table.wp-calendar caption a#next_month:hover, table caption a#next_year:hover{
background-position:0 -21px;
}
table blockquote {
	clear: both;
	margin: 0 0 10px 0;
}
/* event view*/

.event_cal h1.summary{
	float: none;
	width: auto;
	clear: both;
	font-size:18px;
	font-weight: 500;
	padding: 12px 0 12px 25px;
	background: url(images/flag.png) no-repeat 0 0;
}

.event_cal table{
/*	width:auto;*/
}
.event_cal table td.date, .event_cal table td.title{width:auto;}
#maincontent .event_cal table td.date{color:#252525;font-weight:bold;}
.event_cal table thead{display:none;}
#event_detail {
	
}
img.event_description_img{border:1px solid #ccc;background:#ddd;padding:2px;max-width:480px;} /* give image max width to stop large images from busting the table layout*/
#updatecontent #event_detail h3, #updatecontent #event_detail h2  {
	float: none;
	margin: 18px 0;
}

/*- Menu Tabs G--------------------------- */

    #tabsG {
      float:left;
      width:auto;
      font-size:93%;
      line-height:normal;
      }
    #tabsG ul {
	margin:0;
	padding:10px 10px 0 5px;
	list-style:none;
      }
    #tabsG li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsG a {
      float:left;
      background:url(images/tableftG.gif) no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
   #tabsG a span {
      float:left;
      display:block;
      background:url(images/tabrightG.gif) no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsG a span {float:none;cursor:text;}
    /* End IE5-Mac hack */
    #tabsG a:hover {
      color:#FFF!important;
      }
    #tabsG a:hover, #tabsG a#event_selected {
      background-position:0% -42px;
      }
    #tabsG a:hover span, #tabsG a#event_selected span {
      background-position:100% -42px;
      } 

/* loading.gif */
#load{position:absolute;margin:450px 0 0 560px;z-index:1000000;top:0;left:0;}

/* day view*/
.col{
	margin:-65px 0 30px;
/*	padding-right: 20px;*/
	width:290px;
	float:left;
	clear: both;
	background: transparent url(images/side-shadow.png) no-repeat right top;
}
#view_nav {
	margin:18px 0 0 320px;
}
/* month view */
.month_cal {margin-top:70px;position:relative;}
.month_cal table.wp-calendar{margin:0 0 20px 0;}
.month_cal table.wp-calendar td{
	width:99px;
	text-align:left;
	background:#f3f3f3;
	vertical-align:top;
	float:left;
	display:block;
	min-height:12.3em;
	_height:12.3em;
	}
#maincontent .month_cal table.wp-calendar td a{background:#ddd;padding:0 4px;float:left;color:#0e584a!important;margin:-5px 0 0 -6px}	
#maincontent .month_cal table.wp-calendar td a:active{color:#333;}
#maincontent .month_cal table.wp-calendar td span.monthvalue_ID{display:none}
#maincontent .month_cal table.wp-calendar td ul{position:relative;list-style:none;clear:both;padding:4px 0 0 0;margin:0;}
#maincontent .month_cal table.wp-calendar td ul.ul_box{width:200px;z-index:1000;position:absolute;margin:0;background:#fff;border:1px solid #7DB0E2;border-color:#E0E0E0 #999 #999 #E0E0E0;padding:4px;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li{overflow:visible;height:auto;line-height:1.5;display:list-item!important;background:none;padding:1px 0;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li.close_eventbox{border:none;width:30px;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li.close_eventbox:hover{background:none;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li.close_eventbox a{color:#064D94;position:relative;display:block;background:url(images/close_pop.gif) no-repeat 0 0;padding-top:1px;text-indent:-9999px;}
#maincontent .month_cal table.wp-calendar td ul a{background:none;border:none;padding:0;margin:0;float:none;}
#maincontent .month_cal table.wp-calendar td ul a:hover{background:none;border:none;}
.month_cal table.wp-calendar td.empty{background:#fff;}
#maincontent .month_cal table.wp-calendar td ul li.dateUL{padding:1px 3px;background:#999;color:#252525;}
#maincontent .month_cal table.wp-calendar td ul.ul_box li.dateUL:hover{background:#E0E0E0;}
#maincontent .month_cal table.wp-calendar td ul li.dateUL a{color:#fff!important;}
#maincontent .month_cal table.wp-calendar td ul li{overflow:hidden;height:1.8em;padding:0;border-bottom:1px solid #ddd;background:#fff;margin:2px 0 0 0;}
#maincontent .month_cal table.wp-calendar td ul.unhide li{overflow:visible;height:auto;}
#maincontent .month_cal table.wp-calendar td ul li:hover{background:#eee;}
#maincontent .month_cal table.wp-calendar td a.more_event{background:none;text-decoration:underline;border:none;margin:3px 0 0 35px;}
#maincontent .month_cal table.wp-calendar td a.more_event:hover{background:none}
#maincontent .month_cal table.wp-calendar td ul.none li.close_eventbox{display:none;}
.month_cal table.wp-calendar td:hover{background:#f7f7cb;}
.month_cal table.wp-calendar th{font-size:1.15em;text-align:center;width:101px;display:block;float:left;margin-bottom:1px;}
.month_cal table.wp-calendar tr{float:right;font-size:0.8em;}
#maincontent .month_cal ul{padding:0 15px;}
.month_cal table.wp-calendar caption{margin:-38px 0 0 0}

#maincontent #header {
	background-color: #255249;
	margin: -1px 0 0 -10px;
	overflow: auto;
	padding: 25px 0 10px 10px;
	width: 908px;	
	position: relative;
	z-index: 1000;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

ul#frontend_view_selector {
    float: left;
}
ul#frontend_view_selector li {
	list-style-type: none;
	float:left;
}
ul#frontend_view_selector li a {
	color: #212121;
    display: block;
    height: 34px;
    width: 80px;
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
}
ul#frontend_view_selector li a:hover{
	color: #6a9231;
}
ul#frontend_view_selector.month li#monthview, ul#frontend_view_selector.day li#todayview, ul#frontend_view_selector.year li#yearview, ul#frontend_view_selector.upcoming li#upcomingview{
	background:transparent url(images/nav-over.png) no-repeat center top;
}

/*year view*/
.year_cal table.wp-calendar{margin:0 0 15px 0;}

.year_cal table.wp-calendar caption span{padding:0;margin:0;height:auto;background:none;float:none;display:inline;}
.year_cal table.wp-calendar caption span.monthvalue{margin:0;padding:0 5px 0 15px;background:url(images/year_box.gif) no-repeat 0 1px;}
.year_cal table.wp-calendar caption {text-align:left;padding:0 0 2px 0;position:relative;margin:0;}
.year_cal table.wp-calendar caption a#prev_month, .year_cal table.wp-calendar caption a#next_month{display:none}
#maincontent .year_cal table.wp-calendar caption a{color:#333;}
#maincontent .year_cal table.wp-calendar caption a:hover{color:#cc0000;}

.year_cal table td{border:none;}
.year_cal table.wp-calendar td{border:1px solid #ddd;}
.year_cal table tr{vertical-align:top}
.year_cal table tr:hover{
	background:none;
}
h1.year_main{	padding: 0 0 10px 30px!important; margin:40px 0 10px;
                 background: url(images/date1.gif) no-repeat 0 0;}

/*search view*/
#maincontent form {
	margin: 0;
}
div#main_search {
	float:right;
	margin: 18px 9px 0 0;
}
form#event_search input#searchinput{
	background:#fff; 
	border:1px solid #ccc;
 	border-color:#ccc #fff #fff #ccc;
 	-webkit-border-top-left-radius: 10px;
 	-webkit-border-bottom-left-radius: 10px;
 	-moz-border-radius-topleft: 10px;
 	-moz-border-radius-bottomleft: 10px;
 	border-top-left-radius: 10px;
 	border-bottom-left-radius: 10px;
 	padding:5px;
 	width:230px;
 	height: 18px;
 	margin-left: 5px;
}
input[type="submit"] {
	border: 0 none;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 30px;
    margin-left: -4px;
    padding: 0 10px;
    color: #fff;
    background: #678f2d url(images/submit-btn.png) repeat-x left top;
}

#maincontent h1.results span{
/*	background:#ffffcc;*/
	}
	#maincontent h1.results {
		margin: 25px 0;
	}
#maincontent p#search_term{position:absolute;display:none;opacity:0;width:244px;height:85px;background:url(images/searchinfo.png) no-repeat;margin:-10px 0 0 -45px;padding:18px 20px 0 10px;font-size:11px;line-height:normal;}



/* feeds */
#maincontent p#feeds{
	float:right;
	margin:10px 0 0 0;
	padding:0;
}
p#feeds a{float:left;display:block;text-indent:-9999px;height:20px;}
p#feeds a#icsformat{background:url(images/icon-cal.png) no-repeat;width:25px;height:25px;}
p#feeds a#rssformat{background:url(images/icon-rss.png) no-repeat;margin-left:5px;width:25px;height:25px;}
p#feeds a#googlecal{background:url(images/google.png) no-repeat;margin-left:5px;width:25px;height:25px;}
p#feeds a#twittershare{background:url(images/twitter.png) no-repeat;margin-left:5px;width:25px;height:25px;}
#facebook_wrap {
	margin-top: 12px; /*facebook connect*/
	float: left;
}

/* recently updated calendars */
div.cal_widget{
/*	background:url(images/recent_bot.gif) no-repeat left bottom;*/
	clear:both;
/*	width:222px;*/
	padding:0 0 10px 0;
	margin-top: 40px;
}
#maincontent div.cal_widget h3{
	font-size:0.8em;
	position:relative;
	margin:10px 0 0 0;
	padding:10px 0 5px 12px;
	background:url(images/recent.gif) no-repeat left top;
	width:222px;
	height:15px;
}
#maincontent div.cal_widget ul{
	list-style:none;
	padding:0;
/*	margin:-14px 0 0 0;*/
/*	background:url(images/recent_mid.gif) repeat-y right top;*/
}
#maincontent div.cal_widget ul li.nobullet {
background:none;
padding:0;
}
#maincontent li, #tert-content li {
    list-style-type: none;
    margin: 0 0 9px 0;
}
#updatecontent h3, .search h3 {
	float: left;
	width: 60%;
	margin-top: 0px;
	margin-bottom: 10px;
}


a#monthfullview{background:url(images/checkbox.gif) no-repeat;background-position:0 -14px; padding: 0 0 0 17px;}
a#monthfullview.monthfullview_unchecked{background-position:0 0;}

#subscribe, #othercals, #communitycals {
  margin-top:40px ;
  clear: both;
}
a.icon-ical {
	background: transparent url(images/icon-cal.png) no-repeat left top;
	padding:6px 0 6px 30px;
}
a.icon-rss {
	background: transparent url(images/icon-rss.png) no-repeat left top;
	padding:6px 0 6px 30px;
}
#eventtypes {
	float: left;
	margin-top: 19px;
}

 abbr.dtstart:after, abbr.dtend:after {content:'' }
 td abbr {
 	display: inline-block;
 	border-bottom: none;
 	font-weight: bold;
 }
/* IE */
* html tr.vevent td.date{font-size:0.9em!important;}
* html #maincontent .three_col{padding:0;}
* html #maincontent .three_col table td{padding:10px!important;}
* html .col{margin-top:10px;}
* html table.wp-calendar caption span.monthvalue, * html table.wp-calendar caption span.yearvalue{padding:6px 3px 0;}
* html #maincontent p#search_term{filter:alpha(opacity: 0);background:url(images/searchinfo.gif) no-repeat;margin:13px 0 0 -275px;padding:18px 20px 0 10px;}
* html .month_cal {margin-top:7px;}
* html table.wp-calendar td #today_image{margin: -15px 0 0 -23px;}
* html table.wp-calendar td.today{border:none;border-left:1px solid #ddd;border-top:1px solid #ddd;}
* html #maincontent .month_cal table.wp-calendar td ul.ul_box{margin:-18px 0 0 -87px;}

*+html #maincontent .month_cal table.wp-calendar td ul.ul_box{margin:-18px 0 0 -87px;}
*+html table.wp-calendar td #today_image{margin: -15px 0 0 -23px;}
*+html table.wp-calendar td.today{border:none;border-left:1px solid #ddd;border-top:1px solid #ddd;}
*+html #maincontent p#search_term{filter:alpha(opacity: 0);background:url(images/searchinfo.gif) no-repeat;margin:13px 0 0 -275px;padding:18px 20px 0 10px;}
*+html .col{margin-top:10px;}
*+html table.wp-calendar caption span.monthvalue, *+html table.wp-calendar caption span.yearvalue{padding:6px 3px 0;}
*+html .month_cal {margin-top:7px;}

/**/

td {
	border-bottom: none;
}
#maincontent table a:hover {
	text-decoration: none;
	border-bottom: none;
}
/*Featured event block*/
#featuredEvents {
/*	padding:25px 0 0 0px;*/
	width: 910px;
	clear: both;
	overflow: auto;
}
h2#featuredEventsTitle {
	font: 22px/9px 'CartoGothicStdBook', Arial, sans-serif;
}
#featuredEvents .event_detail {
	margin: 10px 35px 0 0;
	float: left;
	width: 260px;
	
}
.imagecrop {
	width: 260px;
	overflow: hidden;
	height: 190px;
	margin-bottom: 10px;
	border: solid 4px #dadb76;
}
#featuredEvents .event_detail .imagecrop img {
	width: 100%;
}
#featuredEvents .event_detail span {
	clear: left;
	display: block;
	font-weight: bold;
	font-size: 14px;
	color: #474747;
}
.clear {
	clear: both;
}
a.event_submit {
	background: transparent url(images/submit-event.png) no-repeat left top;
	padding:6px 0 6px 40px;
	width: 118px;
	display: block;
	height: 20px;
	margin-top: 40px;
	color: #fff;
}
a.event_submit:hover {
	background-position: 0 -32px;
}
a.top {
	margin: 18px 0 0 127px;
	
}
/* typography
------------------------------------------------*/
h1,h2,h3,h4,h5,h6, ul {
	line-height: 18px;
	margin: 18px 0 9px 0;
}
h1#calname {
	font: 40px/27px 'CartoGothicStdBook', Arial, sans-serif;
	float: left;
} 
h1#calname a {
	color: #212121;
	text-decoration: none;
}
h3 {
	font-size: 16px;
	color: #212121;
	font-weight: normal;
}
p {
	line-height: 18px;
	margin: 9px 0;
}
#subscribe h3, #othercals h3, #communitycals h3 {
	background: transparent url(images/heading-bg.png) no-repeat left top;
	padding: 13px;
}
#subscribe p, #subscribe ul, #othercals ul, #communitycals ul {
	padding-left: 13px;
}
#subscribe li {
	margin: 10px 0;
}
/* Events by type filter
----------------------------------------------- */
/*#maincontent .col form {
	margin-top: 40px;
}*/
select {
/*	width: 100%;*/
}

/*Jquery Scrollable */
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
/*	width: 860px;*/
	height:275px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
}
/*easy select
---------------------------------------------*/
#event_type_go {
	float: left;
	position: relative;
	top: -33px;
	left: 231px;
	z-index: 200;
}
.easy-select-box{
	position:relative;
	width:230px;
	font-size:11px;
	color:#212121;
	clear: both;
/*	float: right;*/
}
.easy-select-box .easy-select-box-disp,
.easy-select-box .easy-select-box-disp:visited{
	background: url("images/select-bg.png") no-repeat scroll 0 0 transparent;
	    color: #212121;
	    display: block;
	    height: 21px;
	    line-height: 18px;
	    padding: 6px 0 5px 10px;
	    text-decoration: none;
}
.easy-select-box .easy-select-box-disp:hover{
	position:relative;
	background-position: 0 -32px;
	text-decoration:none;
}
.easy-select-box ul{
	background: none repeat scroll 0 0 #FFFFFF;
	    border: 1px solid #CCCCCC;
	    display: none;
	    left: 0;
	    max-height: 200px;
	    overflow: auto;
	    position: absolute;
	    top: 10px;
	    width: 226px;
	    z-index: 99;
}
.easy-select-box ul li a,
.easy-select-box ul li a:visited{
	padding:3px;
	background:#FFFFFF;
	display:block;
	color:#0c2245;
	cursor:default;
}
.easy-select-box ul li a:hover{
	background:#90b060;
	color:#FFFFFF;
	text-decoration:none;
}

/*non-semantic helper classes
--------------------------------------------*/
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* @end */