body { 
	font-family: Helmet, Freesans, sans-serif;
}
img{
	max-width:100%;
}
#one {
	background:url(exclusive_paper.jpg) repeat #597e24;
}
#one .ui-header .ui-title{
	text-align:left;
	padding:0;
	margin:15px;
}
#one .ui-header .ui-field-contain{
	margin:10px 15px 18px;
	padding:0;
}
#one .ui-header form{
	margin:0;
}
#one h1 span{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
#one .ui-content{
	padding-bottom:40px;
}
.wordmark{
	width:auto;
	padding:0 5px;
}
.vevent h3{
	margin:0;
}
.vevent{
	margin:10px 0;
	padding:10px 5px;
}
div.alt{
	background-color: transparent;
  background-color: rgba(255, 255, 255, 0.4);
}
h4.sec_main {
	font-size: 18px;
	font-weight: 500;
	padding: 9px 0 12px 25px;
	background: url(flag.png) no-repeat 0 0;
	margin:15px 0;
}
.ui-content h4.sec_main a{
	color:#000;
	font-weight:normal;
}
a .date, a .location{
	color:#222;
	text-decoration:none;
	font-weight:normal;
}
.ui-content .ui-link .summary{
	text-decoration:underline;
}
.ui-content p .ui-link{
	text-decoration:underline;
}
.ui-field-contain{
	border-bottom:0;
}
.ui-btn-text, .ui-li-desc, .ui-title { white-space: normal; }

.ui-navbar .ui-btn-inner{
height:28px;
}
/* event list */
div.vevent .date, div.vevent .location, div.vevent h3{
	font-size:17px;
}

/* search list */
h2.results{
	font-size:17px;
}
h3.result-count{
	font-size:17px;
	font-weight:normal;
}

/* search box & datepicker overrides */
.searchcontain{
	width:90%;
	margin:0 auto;
}
form#event_search input#searchinput{
	background:#fff; 
	border:1px solid #ccc;
 	border-color:#ccc #fff #fff #ccc;
 	-webkit-border-top-left-radius: 10px;
 	-webkit-border-bottom-left-radius: 10px;
 	-moz-border-radius-topleft: 10px;
 	-moz-border-radius-bottomleft: 10px;
 	border-top-left-radius: 10px;
 	border-bottom-left-radius: 10px;
 	-webkit-border-top-right-radius: 0;
 	-webkit-border-bottom-right-radius: 0;
 	-moz-border-radius-topright: 0;
 	-moz-border-radius-bottomright: 0;
 	border-top-right-radius: 0;
 	border-bottom-right-radius: 0;
 	padding:10px 0 10px 7%;
	height:18px;
 	width:72%;
	font-size:14px;
	display:inline;
}
form#new-day .dateboxinput div.ui-input-datebox{
	border:0;
	background:0;
	height:0;
}
form#new-day .dateboxinput{
	margin-left:5px;
}
form#event_search input#searchsubmit{
border:1px solid #ccc;
border-color:#678f2d #49691a #49691a #678f2d;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
height: 40px;
margin: 0 0 0 -4px;
  padding: 0;
  color: #fff;
  background: #678f2d;
width:19%;
font-size:15px;
position:relative;
top:1px;
}
#two .ui-content{
	padding:0;
}
/* event detail */
h1.summary{
	font-size: 18px;
	font-weight: 500;
	padding: 9px 0 12px 25px;
	background: url(flag.png) no-repeat 0 0;
}
.ui-content h3.date, .ui-content .date h3{
	font-size:15px;
}
.ui-content p{
	font-size:15px;
}
h2.event-title{
	font-size:17px;
}
.contactinfo{
	margin-top:15px;
}

/* jquery mobile overrides */
/* search input */
.ui-field-contain .ui-body-a{
	background-color:#fff;
	border-color:#ccc;
	color:#000;
}

.ui-header{
	border: 1px solid 		#77a13b;
	background: 			#6a9231;
	color: 					#ffffff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #416114;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#77a13b), to(#597e24)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #77a13b, #597e24); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #77a13b, #597e24); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #77a13b, #597e24); /* IE10 */
	background-image:      -o-linear-gradient(top, #77a13b, #597e24); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #77a13b, #597e24);
	font-family: Helmet, Freesans, sans-serif;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.ui-content {
	background:url(exclusive_paper.jpg) repeat #597e24;
	color: #222;
	text-shadow: 0 1px 0 	#fff;
	font-weight: normal;
	font-family: Helmet, Freesans, sans-serif;
}
.ui-content .ui-link{
	color:#6a9231;
	text-decoration:none;
}
.ui-focus{
	
}
.ui-bar-c{
	border: 1px solid #000;
	background: 		#fff;
	color: 					#3E3E3E;
	font-weight: bold;
	text-shadow: 0 1px 1px 	#fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fff, #fff); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fff, #fff); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fff, #fff); /* IE10 */
	background-image:      -o-linear-gradient(top, #fff, #fff); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fff, #fff);	
}
.ui-header .ui-body-a{
	color:#222;
	border-color:#ccc;
	background-color:#fff;
}
/* btn */
.new-date{
	margin:0;
}
.ui-btn-up-c, .ui-btn-up-a{
	border: 1px solid #87ac52;
	background: #6a9231;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #416114;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#87ac52), to(#6a9231)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #87ac52, #6a9231); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #87ac52, #6a9231); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #87ac52, #6a9231); /* IE10 */
	background-image:      -o-linear-gradient(top, #87ac52, #6a9231); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #87ac52, #6a9231);
}
tbody .ui-btn-up-c{
	border: 1px solid 		#ccc;
	background: 			#eee;
	font-weight: bold;
	color: 					#444;
	text-shadow: 0 1px 1px #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fdfdfd, #eee); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fdfdfd, #eee); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fdfdfd, #eee); /* IE10 */
	background-image:      -o-linear-gradient(top, #fdfdfd, #eee); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fdfdfd, #eee);	
}
tbody .ui-state-highlight{
	border: 1px solid 		#F7C942;
	background: 			#fadb4e;
	font-weight: bold;
	color: 					#333;
	text-shadow: 0 1px 0 	#fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fceda7), to(#fadb4e)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fceda7, #fadb4e); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fceda7, #fadb4e); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fceda7, #fadb4e); /* IE10 */
	background-image:      -o-linear-gradient(top, #fceda7, #fadb4e); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fceda7, #fadb4e);
}
tbody .ui-state-active{
	border: 1px solid 		#145072;
	background: 			#2567ab;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #145072;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5), to(#396b9e)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #5f9cc5, #396b9e); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #5f9cc5, #396b9e); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #5f9cc5, #396b9e); /* IE10 */
	background-image:      -o-linear-gradient(top, #5f9cc5, #396b9e); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #5f9cc5, #396b9e);	
}
.ui-btn-up-c a.ui-link-inherit, .ui-btn-up-a a.ui-link-inherit {
	color: #fff;
}
.ui-btn-hover-c, .ui-btn-hover-a {
	border: 1px solid #bbb;
	background: #6a9231;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #416114;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9fc26c), to(#6a9231)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #9fc26c, #6a9231); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #9fc26c, #6a9231); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #9fc26c, #6a9231); /* IE10 */
	background-image:      -o-linear-gradient(top, #9fc26c, #6a9231); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #9fc26c, #6a9231);
}
.ui-btn-hover-c a.ui-link-inherit, .ui-btn-hover-a a.ui-link-inherit {
	color: #fff;
}
.ui-btn-down-c, .ui-btn-down-a {
	border: 1px solid #bbb;
	background: #6a9231;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #416114;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9fc26c), to(#6a9231)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #6a9231, #6a9231); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #6a9231, #6a9231); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #6a9231, #6a9231); /* IE10 */
	background-image:      -o-linear-gradient(top, #6a9231, #6a9231); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #6a9231, #6a9231);
}
.ui-btn-down-c a.ui-link-inherit, .ui-btn-down-a a.ui-link-inherit {
	color: #fff;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
/* footer */
.ui-content .ui-link, .ui-footer .ui-link{
	color:#6a9231;
	text-decoration:none;
}
.ui-footer .ui-link{
	text-decoration:underline;
}
.ui-footer{
	border: 1px solid 		#fff;
	background: 			#fff;
	color: 					#222;
	font-weight: normal;
	text-shadow: 0 1px 0 	#fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fff, #fff); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fff, #fff); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fff, #fff); /* IE10 */
	background-image:      -o-linear-gradient(top, #fff, #fff); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fff, #fff);
	padding-left:15px;
	font-family: Helmet, Freesans, sans-serif;
}